{% extends 'participants/administration/index.html' %}
{% load active_link %}
{% load pagination_tag %}
{% load breadcrumbs %}

{% block breadcrumb %}
    <li>
        <a href="{% url 'participants:administration:index' %}">Библиотеки</a>
        <span class="divider">/</span>
    </li>
    {% if library.parent_id %}
        {% for ancestor in library.get_ancestors %}
            <li>
                <a href="{% url 'participants:administration:detail' ancestor.id %}">{{ ancestor.name }}</a>
                <span class="divider">/</span>
            </li>
        {% endfor %}
    {% endif %}
    <a href="{% url 'participants:administration:detail' library.id %}">{{ library.name }}</a>
    <span class="divider">/</span>
    <li class="active">Добавление отдела</li>

{% endblock %}

{% block action_content %}
    <form class="form-horizontal" method="POST">{% csrf_token %}
        <fieldset>
            {% include 'administration/base_form_fields.html' %}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Добавить</button>
            </div>
        </fieldset>
    </form>
{% endblock %}