{% extends 'participants/administration/index.html' %}
{% load active_link %}
{% load pagination_tag %}
{% load breadcrumbs %}
{% load mptt_tags %}
{% block breadcrumb %}
    <li>
        <a href="{% url 'participants:administration:index' %}">Библиотеки</a>
        <span class="divider">/</span>
    </li>
    {% for ancestor in org.get_ancestors %}
        <li>
            <a href="{% url 'participants:administration:detail' ancestor.id %}">{{ ancestor.name }}</a>
            <span class="divider">/</span>
        </li>
    {% endfor %}
    <li class="active">{{ org.name }}</li>
{% endblock %}

{% block action_content %}
    <div class="well well-small">
        <a title="Просмотр и редактирование информации об организации" class="btn"
           href="{% url 'participants:administration:edit' org.id %}">
            <i class="icon-pencil"></i> Редактировать
        </a>
        {% if perms.participant_site and can_manage %}
            <a class="btn btn-info" href="{% url 'participant_site:administration:index' org.code %}">Управление сайтом организации</a>
        {% endif %}
    </div>
    <ul class="nav nav-tabs" id="myTab">
        <li title="Филиалы организации" class="active"><a href="#home">Филиалы</a></li>
        <li title="Отделы"><a href="#departments">Отделы</a></li>
        <li title="Сотрудники"><a href="#users">Сотрудники</a></li>
        <li title="Точки доступа WiFi"><a href="#wifi">Точки доступа WiFi</a></li>
        <li title="Интернет соединения"><a href="#int_conn">Интернет соединения</a></li>
        <li title="Oracle соединения"><a href="#ora_conn">Oracle соединения</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="home">
            <div class="well well-small">
                <a class="btn btn-success" href="{% url 'participants:administration:create' org.id %}">
                    <i class="icon-plus icon-white"></i> Добавить филиал
                </a>
            </div>

            <table class="table">
                <tr>
                    <th>Филиал</th>
                    <th>Действия</th>
                </tr>
                {% for library in branches %}
                    <tr>
                        <td>
                            <a href="{% url 'participants:administration:detail' library.id %}"
                               title="{{ library }}">{{ library }}</a>
                        </td>
                        <td style="width: 100px">
                            {% if parent %}
                                <a class="btn btn-mini btn-danger {% if not perms.participants.delete_library %} disabled {% endif %}"
                                   href="{% url 'participants:administration:delete' library.id %}">
                                    <i class="icon-trash icon-white"></i></a>
                            {% else %}
                                <a class="btn btn-mini btn-danger {% if not perms.participants.delete_cbs %} disabled {% endif %}"
                                   href="{% url 'participants:administration:delete' library.id %}"><i
                                        class="icon-trash icon-white"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
            {% if not  branches %}
                Филиалов нет
            {% endif %}
        </div>
        <div class="tab-pane" id="departments">
            <div class="well well-small">
                <a class="btn btn-success" href="{% url 'participants:administration:create_department' org.id %}">
                    <i class="icon-plus icon-white"></i> Добавить отдел
                </a>
            </div>
            <ul class="root">
                {% recursetree departments %}
                    <li>
                        <a href="{% url 'participants:administration:edit_department' node.id %}">
                            {{ node.name }}
                        </a>
                        <a title="Удалить отдел и подотделы"
                           class="btn btn-danger btn-mini"
                           href="{% url 'participants:administration:delete_department' node.id %}">
                            <i class="icon-trash icon-white"></i>
                        </a>
                        {% if not node.is_leaf_node %}
                            <ul class="children">
                                {{ children }}
                            </ul>
                        {% endif %}
                    </li>
                {% endrecursetree %}
            </ul>
        </div>
        <div class="tab-pane" id="users">
            <div class="well well-small">
                <a class="btn btn-success" href="{% url 'participants:administration:add_library_user' org.id %}">
                    <i class="icon-plus icon-white"></i> Добавить сотрудника
                </a>
            </div>
            <table class="table">
                <tr>
                    <th>email</th>
                    <th>ФИО</th>
                    <th>Должность</th>
                    <th>Отдел</th>
                    <th></th>
                </tr>
                {% for library_user in library_users %}
                    <tr>
                        <td>{{ library_user.user.email }}</td>
                        <td>{{ library_user.user.last_name }} {{ library_user.user.first_name }} {{ library_user.middle_name }}</td>
                        <td>{{ library_user.position }}</td>
                        <td>{{ library_user.department }}</td>
                        <td><a href="{% url 'participants:administration:edit_library_user' library_user.id %}" class="btn btn-small">редактировать</a></td>
                        <td><a href="{% url 'participants:administration:delete_library_user' library_user.id %}" class="btn btn-small btn-danger">удалить</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="tab-pane" id="wifi">
            <div class="well well-small">
                <a class="btn btn-success" href="{% url 'participants:administration:add_library_wifi' org.id %}">
                    <i class="icon-plus icon-white"></i> Добавить WiFi точку
                </a>
            </div>
            <table class="table">
                <tr>
                    <th>MAC адрес</th>
                    <th>Статус</th>
                    <th>Комментарии</th>
                    <th>Действия</th>
                </tr>
                {% for wifi_point in wifi_points %}
                    <tr>
                        <td>
                            <a href="{% url 'participants:administration:edit_library_wifi' org.id wifi_point.id %}">
                                {{ wifi_point.mac }}
                            </a>
                        </td>
                        <td>
                        <span class="label {% if wifi_point.status == 'enabled' %}label-success{% else %}label-important{% endif %}"
                            title="{{ wifi_point.get_status_display }}"
                    >
                        {{ wifi_point.get_status_display }}
                    </span>
                        </td>
                        <td>{{ wifi_point.comments }}</td>
                        <td><a href="{% url 'participants:administration:delete_library_wifi' org.id wifi_point.id %}" class="btn btn-small btn-danger">удалить</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="tab-pane" id="int_conn">
            <div class="well well-small">
                <a class="btn btn-success" href="{% url 'participants:administration:add_library_int_conn' org.id %}">
                    <i class="icon-plus icon-white"></i> Добавить интернет соединение
                </a>
            </div>
            <table class="table">
                <tr>
                    <th>Наличие подключения</th>
                    <th>Тип</th>
                    <th>Вх. скорость (Мб/сек)</th>
                    <th>Исх. скорость (Мб/сек)</th>
                    <th>Действия</th>
                </tr>
                {% for int_connection in int_connections %}
                    <tr>
                        <td>
                            <a href="{% url 'participants:administration:edit_library_int_conn' int_connection.library_id  int_connection.id %}">{{ int_connection.get_is_exist_display }}</a>
                        </td>
                        <td>
                            {{ int_connection.get_connection_type_display }}
                        </td>
                        <td>
                            {{ int_connection.incoming_speed }}
                        </td>
                        <td>
                            {{ int_connection.outbound_speed }}
                        </td>
                        <td><a href="{% url 'participants:administration:delete_library_int_conn' org.id int_connection.id %}" class="btn btn-small btn-danger">удалить</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="tab-pane" id="ora_conn">
                <div class="well well-small">
                    <a class="btn btn-success" href="{% url 'participants:administration:add_library_ora_conn' org.id %}">
                        <i class="icon-plus icon-white"></i> Добавить Oracle соединение
                    </a>
                </div>
                <table class="table">
                    <tr>
                        <th>Строка подключения</th>
                        <th>Биб базы</th>
                        <th>Активно</th>
                        <th>Имя пользователя</th>
                        <th>Пароль</th>
                        <th>Действия</th>
                    </tr>
                    {% for ora_connection in ora_connections %}
                        <tr>
                            <td>
                                <a href="{% url 'participants:administration:edit_library_ora_conn' ora_connection.library_id  ora_connection.id %}">{{ ora_connection.connection_string }}</a>
                            </td>
                            <td>
                                {{ ora_connection.bib_databases|linenumbers|linebreaksbr }}
                            </td>
                            <td>
                                {% if ora_connection.active %}
                                    <span class="label label-success">да</span>
                                {% else %}
                                    <span class="label label-important">нет</span>
                                {% endif %}
                            </td>
                            <td>
                                {{ ora_connection.username|default:"не указан" }}
                            </td>
                            <td>
                                {% if ora_connection.password %}***********{% else %}не указан{% endif %}
                            </td>
                            <td><a href="{% url 'participants:administration:delete_library_ora_conn' org.id ora_connection.id %}" class="btn btn-small btn-danger">удалить</a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
    </div>
    <script>
        $('#myTab a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        })
    </script>
{% endblock %}