{% extends 'participants/administration/index.html' %}
{% load active_link %}
{% load pagination_tag %}
{% load breadcrumbs %}

{% block breadcrumb %}
    <li>
        <a href="{% url 'participants:administration:index' %}">Библиотеки</a>
        <span class="divider">/</span>
    </li>
    <li>
        <a href="{% url 'participants:administration:library_user_list' %}">Сотрудники библиотек</a>
        <span class="divider">/</span>
    </li>
    <li class="active">Редактирование данных о сотруднике</li>

{% endblock %}

{% block action_content %}
    <div class="alert alert-warning">
        {% if managed_libraries %}
            Вы можете управлять сотрудниками организаций:
            <ul>
                {% for managed_library in managed_libraries %}
                    <li>{% for ancestor in managed_library.library.get_ancestors %}
                        <b>{{ ancestor.name }}</b> /
                    {% endfor %}
                        <b>{{ managed_library.library.name }}</b>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            Вы можете управлять сотрудниками любой организации
        {% endif %}
    </div>

    {% if errors %}
        <div class="alert alert-error">
            {% for error in errors %}
                <p>{{ error.message }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <form class="form-horizontal" method="post">
        {% csrf_token %}
        <fieldset>
            <input id="id_slf-library" type="hidden" name="slf-library" value="{{ library_user.library_id }}"/>
            {#        {{ select_district_form }}#}
            {% include 'administration/base_form_fields.html' with form=select_district_form %}
            <div class="control-group">
                <label class="control-label" for="id_slf-library">Выберите библиотеку <span
                        title="Обязательное поле">*</span></label>

                <div class="controls">
                    <div class="lib_select"></div>
                    <div class="current_library well well-small" style="margin: 10px 0 0 0">
                        {% if library_user.library.name %}Текущая организация:
                            {% if library_user.library.parent_id %}
                                {% for ancestor in library_user.library.parent.get_ancestors %}
                                    {{ ancestor.name }} <span class="divider">/</span>

                                {% endfor %}
                                {{ library_user.library.parent.name }}
                                <span class="divider">/</span>
                            {% endif %}
                            {{ library_user.library.name }}
                        {% endif %}
                    </div>
                </div>

            </div>
            {#                            {% include 'administration/base_form_fields.html' with form=select_library_form  %}#}

            {% include 'administration/base_form_fields.html' with form=user_form %}
            {% include 'administration/base_form_fields.html' with form=user_library_form %}
            {% include 'administration/base_form_fields.html' with form=user_library_group_form %}

            <div class="form-actions">
                <button class="btn" type="submit">Сохранить</button>
            </div>
        </fieldset>
    </form>
    <script>
        $(function () {
            {#            $('#id_sdf-district').on('change', function () {#}
            {#                $.get('{% url 'participants:administration:find_library_by_district' %}', {#}
            {#                    district_id: $(this).val()#}
            {#                }).done(function (data) {#}
            {#                    var $libraryChoice = $('#id_slf-library');#}
            {#                    $libraryChoice.empty();#}
            {#                    $libraryChoice.append($('<option>-----</option>'));#}
            {#                    data.forEach(function (item) {#}
            {#                        $libraryChoice.append($('<option value="' + item.id + '">' + item.name + '</option>'));#}
            {#                    });#}
            {#                }).fail(function (error) {#}
            {#                    alert('При запросе возникла ошибка');#}
            {#                    console.log(error);#}
            {#                });#}
            {#            });#}

            var $passwordField = $('#id_uf-password');
            var $generateButton = $('<a href="#gen_pass"> Сгенерировать пароль</a>');
            $passwordField.after($generateButton);
            $generateButton.on('click', function () {
                var randomstring = Math.random().toString(36).slice(-8);
                $passwordField.val(randomstring);
            });
        });
    </script>

    {% include 'participants/administration/lib_select_js.html' %}
{% endblock %}