{% extends 'participants/administration/index.html' %}
{% load active_link %}
{% load pagination_tag %}
{% load breadcrumbs %}
{% load mptt_tags %}
{% block breadcrumb %}
    {% breadcrumb "Библиотеки" participants:administration:index %}
    {% breadcrumb "Список" %}
{% endblock %}

{% block action_content %}
    {% if parent %}
        <h3>
        {% for ancestor in parent.get_ancestors %}
            <a href="{% url 'participants:administration:list' ancestor.id %}">{{ ancestor }}</a> →
        {% endfor %}
        {% if parent.parent_id %}
            <a href="{% url 'participants:administration:list' parent.id %}">{{ parent }}</a>
        {% else %}
            <a href="{% url 'participants:administration:list' %}">{{ parent }}</a>
        {% endif %}
        </h3>
    {% endif %}
    <style>
        ul.list li {
            margin-bottom:25px;
        }
    </style>
    <div>
{#    <div class="well well-small">#}
        <div class="row">
            <div class="span5">
                <a class="btn btn-success" href="{% url 'participants:administration:create' %}"><i class="icon-plus icon-white"></i> Создать ЦБС</a>
            </div>
            <div class="span5">
                <form method="get">
                    <div>{{ filter_from }}</div>
                    <input type="submit" class="btn btn-info btn-small" value="Фильтровать">
                    {% if parent.parent_id %}
                        {% url 'participants:administration:list' parent.id as participants_list_url %}
                    {% else %}
                        {% url 'participants:administration:list' as participants_list_url %}
                    {% endif %}
                    <a class="btn btn-default btn-small" href="{{ participants_list_url }}">Очистить фильтр</a>
                </form>
            </div>
        </div>
{#    </div>#}
    <table class="table">
        <tr>
            <th>Организация</th>
            <th>Действия</th>
        </tr>
        {% for library in libraries_page.object_list %}
            <tr>
                <td>
                    <a href="{% url 'participants:administration:detail' library.id %}" title="{{ library }}">{{ library }}</a>
                </td>
                <td>
                    {% if parent %}
                        <a class="btn btn-mini btn-danger {% if not perms.participants.delete_library %} disabled {% endif %}" href="{% url 'participants:administration:delete' library.id %}"><i class="icon-trash icon-white"></i></a>
                    {% else %}
                        <a class="btn btn-mini btn-danger {% if not perms.participants.delete_cbs %} disabled {% endif %}" href="{% url 'participants:administration:delete' library.id %}"><i class="icon-trash icon-white"></i></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
    </div>
    {% admin_pagination libraries_page %}
{% endblock %}