{% extends 'participants/administration/index.html' %}
{% load mptt_tags %}
{% load active_link %}
{% load pagination_tag %}
{% load breadcrumbs %}

{% block breadcrumb %}
    <li>
        <a href="{% url 'participants:administration:index' %}">Библиотеки</a>
        <span class="divider">/</span>
    </li>
    <li class="active">Интернет соединения библиотек</li>
{% endblock %}

{% block action_content %}
    <div class="alert alert-warning">
        {% if managed_libraries %}
            Вы можете управлять справочником Интернет соединений следующих организаций:
            <ul>
                {% recursetree managed_libraries %}
                    <li>
                        <a href="{% url 'participants:administration:detail' node.id %}">{{ node.name }}</a>
                        {% if not node.is_leaf_node %}
                            <ul class="children">
                                {{ children }}
                            </ul>
                        {% endif %}
                    </li>
                {% endrecursetree %}
            </ul>
        {% else %}
            Вы можете управлять справочником Интернет соединений любой организации
        {% endif %}
    </div>
    <div class="well well-small">
        <form style="margin: 0">
            <input id="id_slf-library" type="hidden" name="slf-library" value=""/>
            <div class="row">
                <div class="span6">
                    <div class="row">
                        <div class="span3">
                            {{ int_conn_attr_form }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="span6">
                            <a class="btn" href="{% url 'participants:administration:library_int_conn_list' %}">
                                Очистить фильтр
                            </a>
                            <button class="btn btn-success" type="submit">
                                Найти
                            </button>
                        </div>
                    </div>
                </div>

                <div class="span3">
                    {{ districts_form }}
                    <label>Выберите организацию:</label>
                    <div class="lib_select"></div>
                </div>
            </div>
        </form>

    </div>
    <div>
        Найдено: {{ library_int_conn_page.paginator.count }}
    </div>
    <table class="table">
        <tr>
            <th>Наличие подключения</th>
            <th>Тип</th>
            <th>Вх. скорость (Мб/сек)</th>
            <th>Исх. скорость (Мб/сек)</th>
            <th>Организация</th>
            <th>Район</th>
        </tr>
        {% for library_int_conn in library_int_conn_page.object_list %}
            <tr>
                <td>
                    <a href="{% url 'participants:administration:edit_library_int_conn' library_int_conn.library_id  library_int_conn.id %}">{{ library_int_conn.get_is_exist_display }}</a>
                </td>
                <td>
                    {{ library_int_conn.get_connection_type_display }}
                </td>
                <td>
                    {{ library_int_conn.incoming_speed }}
                </td>
                <td>
                    {{ library_int_conn.outbound_speed }}
                </td>
                <td>
                    <span title="{{ library_int_conn.library.name }}">
                        {% for ancestor in library_int_conn.library.get_ancestors %}
                            {{ ancestor }} →
                        {% endfor %}
                        {{ library_int_conn.library.name }}
                    </span>
                </td>
                <td><span title="{{ library_int_conn.library.district.name }}">{{ library_int_conn.library.district.name }}</span></td>
            </tr>
        {% endfor %}
    </table>
    {% admin_pagination library_int_conn_page %}
    {% include 'participants/administration/lib_select_js.html' %}
{% endblock %}