{% load active_link %}
<ul class="nav nav-list">
    <li class="nav-header">Библиотеки</li>
    <li class="{% active 'participants:administration:list' %}">
        <a href="{% url 'participants:administration:list' %}">Список</a>
    </li>
</ul>
<hr/>
<ul class="nav nav-list">
    <li class="nav-header">Сотрудники</li>
    <li class="{% active 'participants:administration:library_user_list' %}">
        <a href="{% url 'participants:administration:library_user_list' %}">Список</a>
    </li>
    <li class="nav-header">WiFi точки доступа</li>
    <li class="{% active 'participants:administration:library_wifi_list' %}">
        <a href="{% url 'participants:administration:library_wifi_list' %}">Список</a>
    </li>
    <li class="nav-header">Интернет соединения</li>
    <li class="{% active 'participants:administration:library_int_conn_list' %}">
        <a href="{% url 'participants:administration:library_int_conn_list' %}">Список</a>
    </li>
{#    <li class="{% active 'participants:administration:add_library_user' %}">#}
{#        <a href="{% url 'participants:administration:add_library_user' %}">Добавить</a>#}
{#    </li>#}
</ul>
<hr/>
<ul class="nav nav-list">
    <li class="nav-header">Районы</li>
    <li class="{% active 'participants:administration:district_list' %}">
        <a class="disabled" href="{% url 'participants:administration:district_list' %}">Список</a>
    </li>
    <li class="{% active_path 'participants:administration:district_create' %}">
        <a href="{% url 'participants:administration:district_create' %}">Создать</a>
    </li>
</ul>
<hr/>
<ul class="nav nav-list">
    <li class="nav-header">Типы библиотек</li>
    <li class="{% active 'participants:administration:library_types_list' %}">
        <a href="{% url 'participants:administration:library_types_list' %}">Список</a>
    </li>
    <li class="{% active_path 'participants:administration:library_type_create' %}">
        <a href="{% url 'participants:administration:library_type_create' %}">Создать</a>
    </li>
</ul>