<script>
    function makeid() {
        var text = "";
        var possibleA = "ABCDEFGHJKMNPQRSTUVWXYZ";
        var possiblea = "abcdefghjkmnpqrstuvwxyz";
        var possible1 = "23456789";

        for (var i = 0; i < 1; i++)
            text += possibleA.charAt(Math.floor(Math.random() * possibleA.length));

        for (var i = 0; i < 5; i++)
            text += possiblea.charAt(Math.floor(Math.random() * possiblea.length));

        for (var i = 0; i < 1; i++)
            text += possible1.charAt(Math.floor(Math.random() * possible1.length));

        return text;
    }
    $(function () {
        var $passwordField = $('#id_user_form-password');
        var $generateButton = $('<a href="#gen_pass"> Сгенерировать пароль</a>');
        $passwordField.after($generateButton);
        $generateButton.on('click', function () {
            {#                var randomstring = Math.random().toString(36).slice(-8);#}
            $passwordField.val(makeid);

        });
    });
</script>