{% load i18n %}
{% load localeurl_tags %}
{% load menu_tags %}
{% load news_tags %}
{% load events_tags %}
{% load cache %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>{% block title %}LibCMS{% endblock %}</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/frontend/styles.css">

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<style>
    .menu .active{
        font-weight: bold;
    }
    .menu>ul, .news>ul{
            padding: 0;
            margin: 0;
    }
    .menu ul, .news ul {
        list-style: none;
    }
    .menu .title{
        font-size: 18px;
        font-weight: bold;
    }

    .events #id_month{
        width: 80px;
    }
    .events #id_year{
        width: 70px;
    }
    .events form{
        margin: 0;
    }
    .events table{
        width: 100%;
    }
</style>
<div style="position: absolute; right: 50px">{% include 'cabinet.html' %}</div>
<div class="container">

    <div class="row">
{#        <h1>Портал</h1>#}
        {% if request.user.is_authenticated %}
{#            Вы вошли как: {{ request.user.username }} <a href="{% url accounts:frontend:logout %}">Выйти</a>#}
        {% else %}
            <a href="{% url 'accounts:frontend:login' %}">Войти</a> <a href="#1">Зарегистрироваться</a>
        {% endif %}
        <div style="float: right;">
            <a href="/ru{{ request.path|rmlocale }}">Русский</a>
            <a href="/en{{ request.path|rmlocale }}">English</a>
        <hr/>
    </div>
    <div class="row">
        <div class="span2">
            {% cache 60 main_menu LANGUAGE_CODE %}
            <div class="row menu">
            {% drow_menu 'main' %}
                <hr/>
            </div>
            {% endcache %}
            {% cache 60 news LANGUAGE_CODE %}
            <div class="row news">
                <h3>
                    {% if LANGUAGE_CODE == 'ru' %}
                        Новости
                    {% elif LANGUAGE_CODE == 'tt' %}
                        Яңалыклар
                    {% else %}
                        News
                    {% endif %}
                </h3>
                {% news_feed %}
                <br/>
                <a href="{% url 'news:frontend:index' %}">Остальные новости</a>
                <hr/>
            </div>
            {% endcache %}
{#            {% cache 60 events LANGUAGE_CODE %}#}
            <div class="row events">
                <h3>События</h3>
                {% events_calendar %}
            </div>
{#            {% endcache %}#}
        </div>
        <div class="span10">
            <div class="row">
            {% block content %}wefwefwef{% endblock %}
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    jQuery(document).ajaxSend(function(event, xhr, settings) {
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        function sameOrigin(url) {
            // url could be relative or scheme relative or absolute
            var host = document.location.host; // host + port
            var protocol = document.location.protocol;
            var sr_origin = '//' + host;
            var origin = protocol + sr_origin;
            // Allow absolute or scheme relative URLs to same origin
            return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                    (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                // or any other URL that isn't scheme relative or absolute i.e relative.
                    !(/^(\/\/|http:|https:).*/.test(url));
        }
        function safeMethod(method) {
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
        }
    });

    (function(){
        var cache = {};

        this.tmpl = function tmpl(str, data){
            // Figure out if we're getting a template, or if we need to
            // load the template - and be sure to cache the result.
            var fn = !/\W/.test(str) ?
                    cache[str] = cache[str] ||
                            tmpl(document.getElementById(str).innerHTML) :

                // Generate a reusable function that will serve as a template
                // generator (and which will be cached).
                    new Function("obj",
                            "var p=[],print=function(){p.push.apply(p,arguments);};" +

                                // Introduce the data as local variables using with(){}
                                    "with(obj){p.push('" +

                                // Convert the template into pure JavaScript
                                    str
                                            .replace(/[\r\t\n]/g, " ")
                                            .split("<%").join("\t")
                                            .replace(/((^|%>)[^\t]*)'/g, "$1\r")
                                            .replace(/\t=(.*?)%>/g, "',$1,'")
                                            .split("\t").join("');")
                                            .split("%>").join("p.push('")
                                            .split("\r").join("\\'")
                                    + "');}return p.join('');");

            // Provide some basic currying to the user
            return data ? fn( data ) : fn;
        };
    })();
</script>
</body>
</html>
