{% extends 'ask_librarian/frontend/index.html' %}
{% load i18n %}
{% load bootstrap3 %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}
    {% if LANGUAGE_CODE == 'ru' %}
        Спроси библиотекаря
    {% elif LANGUAGE_CODE == 'tt' %}
        Китапханәчедән сора
    {% else %}
        Ask librarian
    {% endif %}
    /
    Задать вопрос
{% endblock %}
{% block breadcrumb %}
    <nav class="crumb">
        <ol class="crumb__list">
            <li>
                <a href="{% url 'index:frontend:index' %}">
                    {% if LANGUAGE_CODE == 'ru' %}
                        Главная
                    {% elif LANGUAGE_CODE == 'tt' %}
                        Төп бит
                    {% else %}
                        Home
                    {% endif %}
                </a>
            </li>
            <li>
                <a href="{% url 'ask_librarian:frontend:index' %}">
                    {% if LANGUAGE_CODE == 'ru' %}
                        Спроси библиотекаря
                    {% elif LANGUAGE_CODE == 'tt' %}
                        Китапханәчедән сора
                    {% else %}
                        Ask librarian
                    {% endif %}
                </a>
            </li>
            <li>
                <span class="crumb__current">
                    Задать вопрос
                </span>
            </li>
        </ol>
    </nav>
{% endblock %}
{% block index_content %}
    <div class="content">
        <h1 class="content__title">
            {% if LANGUAGE_CODE == 'ru' %}
                Спроси библиотекаря
            {% elif LANGUAGE_CODE == 'tt' %}
                Китапханәчедән сора
            {% else %}
                Ask librarian
            {% endif %}
            →
            Задать вопрос
        </h1>
    </div>
    <br>
    <form class="side-box__form" method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button class="btn" type="submit">Спросить</button>
    </form>
{% endblock %}