{% extends 'theme_frontend_base.html' %}
{% load ask_librarian_tags %}
{% load cache %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}
    {% if LANGUAGE_CODE == 'ru' %}
        Спроси библиотекаря
    {% elif LANGUAGE_CODE == 'tt' %}
        Китапханәчедән сора
    {% else %}
        Ask librarian
    {% endif %}
{% endblock %}

{% block content %}
    <main>
        <div class="container">
            {% block breadcrumb %}
                <nav class="crumb">
                    <ol class="crumb__list">
                        <li>
                            <a href="{% url 'index:frontend:index' %}">
                                {% if LANGUAGE_CODE == 'ru' %}
                                    Главная
                                {% elif LANGUAGE_CODE == 'tt' %}
                                    Төп бит
                                {% else %}
                                    Home
                                {% endif %}
                            </a>
                        </li>
                        <li>
                             <span class="crumb__current">
                                Спроси библиотекар
                            </span>
                        </li>
                    </ol>
                </nav>
            {% endblock %}
            <div class="ask-container">
                <div class="row">
                    <div class="col-lg-9 col-md-12">
                        {% block index_content %}

                        {% endblock %}
                    </div>
                    {% if request.path_info != '/ask_librarian/ask' %}
                        <div class="col-lg-3 col-md-12">
                            <div class="ask-facet">
                                <section class="card card_bs-2 card_facet">
                                    <div class="card__header">
                                        <h2 class="card__title card__title_sm">Задать вопрос</h2>
                                    </div>
                                    <div class="card__body">
                                        <p class="card__text">Ищете информацию? Подбираете литературу? Есть вопросы о
                                            работе
                                            библиотеки? Виртуальная справочная служба поможет.</p>
                                    </div>
                                    <div class="card__footer">
                                        <ul class="card-nav">
                                            <li class="card-nav__item">
                                                <a class="card-nav__link" href="{% url 'ask_librarian:frontend:ask' %}">Задать
                                                    вопрос</a>
                                            </li>
                                        </ul>
                                    </div>
                                </section>
                                <section class="card card_bs-2 card_mt card_facet">
                                    <div class="card__header">
                                        <h2 class="card__title card__title_sm">Категории вопросов</h2>
                                    </div>
                                    <div class="card__body">
                                        {% cache 30 questions_category_menu LANGUAGE_CODE %}
                                            {% drow_categories_tree %}
                                        {% endcache %}
                                    </div>
                                </section>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}