<div>
    <h3>Вопрос:</h3>
    {% if question.is_ready %}
        {{ question.question|safe }}
    {% else %}
        {{ question.question }}
    {% endif %}<br/>
    <hr/>
</div>
<div>
    <h3>Ответ:</h3>
    {% if question.is_ready %}
        {{ question.answer|safe }}
        {% if bib_records %}
            Библиографические записи к ответу:
            <ul>
                {% for bib_record in bib_records %}
                    <li>
                        {{ bib_record.card|safe }}
                        <div><a href="{% url 'ssearch:frontend:detail' bib_record.record.gen_id %}">подробнее</a></div>
                        {% if not forloop.last %}
                            <hr/>{% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% else %}
        Ответа на вопрос еще нет.
    {% endif %}
</div>
<script type="text/javascript">
    window.print();
</script>
