{% extends 'theme_frontend_base.html' %}
{% load i18n %}
{% block title %}
    {% trans 'Login' %}
{% endblock %}
{% block content %}
    {% url 'sso_esia:redirect_from_ip' as redirect_url %}
    <div class="span12">
        <div class="row">
            <div class="span12">
                <ul class="breadcrumb">
                    <li><a href="{% url 'index:frontend:index' %}">Начало</a> <span class="divider">/</span></li>
                    <li class="active">Вход на портал через ЕСИА</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <h3>Успешная регистрация!</h3>

                <p><b>Поздравляем! Вы только что стали читателем</b>.
                    Теперь Вы можете воспользоваться услугами любой
                    <a target="_blank" href="{% url 'participants:frontend:index' %}">
                        библиотеки РеспубликиТатарстан
                    </a>! Для поиска ближайшей библиотеки воспользуйтесь
                    <a target="_blank" href="{% url 'participants:frontend:geosearch' %}">
                        гео-поиском библиотек
                    </a>
                </p>

                <h3 style="margin-top: 50px">Запомните и запишите Ваши идентификационные данные:</h3>
                <div class="well well-small">
                    <p>
                        Идентификатор Единого Читательского Билета: <b>{{ reader_id }}</b>
                    </p>
                    {% if password %}
                        <p>
                            Пароль: <b>{{ password }}</b>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}