{% extends 'theme_frontend_base.html' %}
{% block title %}Мои закладки{% endblock %}
{% block content %}
    <style type="text/css">
        .alert{
            margin: 5px 0;
            clear: both;
        }
        ul.doclist {
            margin: 0; padding: 0; list-style: none

        }
        ul.doclist .doc_info{
            padding: 10px;
        }
        ul.doclist .thumbnail{
            margin-bottom: 20px;
        }
    </style>

    <div class="span12" style="margin-bottom: 10px;">
        <ul class="breadcrumb">
            <li><a href="{% url 'index:frontend:index' %}">Начало</a> <span class="divider">/</span></li>
            <li><a href="{% url 'personal:frontend:index' %}">Личный кабинет</a> <span class="divider">/</span></li>
            <li class="active">Мои закладки</li>
        </ul>


            <ul class="doclist">
                {% for record in records %}
                    <li id="{{ record.saved_doc.gen_id }}">
                    <div class="thumbnail">
                            <div class="doc_info">
                            {{ record.bib.0|safe }}
                            </div>
                            <div style="clear: both"></div>
                            {% if record.saved_doc.comments %}
                                <div class="alert alert-success">
                                    {{ record.saved_doc.comments }}
                                </div>
                            {% endif %}
                            <div class="actions">
                                Перейти к странице: <a href="{% url 'rbooks:frontend:show' record.bookmarc.book_id %}?page_number={{ record.bookmarc.page_number }}">{{ record.bookmarc.page_number }} </a>
{#                                <a style="float: right;" href="{% url mydocs:frontend:delete record.saved_doc.id %}" class="delete">удалить</a>#}
                            </div>
                    </div>

                    </li>
                {% empty %}
                    <li><div class="alert">Список документов пуст.</div></li>
                {% endfor %}
            </ul>
    </div>
    <script type="text/javascript">
        $('.delete').click(function(){
            var button = $(this);
            $.ajax({
                url:$(this).attr('href'),
                type:'GET',
                dataType:"json",
                async:true,
                success:function (response) {
                    if (response['status'] == 'ok'){
                        button.parent().parent().hide();
                    }
                    else{
                        alert('При удалении возникла ошибка');
                    }
                }
            });
            return false;
        });
    </script>
{% endblock %}