{% extends 'frontend_base.html' %}
{% block title %}{{ content.title }}{% endblock %}
{% block content %}
    <ul class="breadcrumb">

        <li><a href="{% url 'index:frontend:index' %}">Начало</a> <span class="divider">/</span></li>
        {% if request.GET.back %}
            <li><a href="{{ request.GET.back }}">Новые поступления</a> <span class="divider">/</span></li>
        {% else %}
            <li><a href="{% url 'newinlib:frontend:index' %}">Новые поступления</a> <span class="divider">/</span></li>
        {% endif %}
        <li class="active">{{ content.title }}</li>

    </ul>
    {% if item.avatar_img_name %}
        <a href="{{ item_url }}#item_title"><img src="{{ MEDIA_URL }}uploads/newinlib/itemavatars/{{ item.avatar_img_name }}" alt=""></a>
    {% endif %}
    {{ content.content|safe }}
{% endblock %}