<div class="inline-org-info">
    <h3>{{ lubrary.name }}</h3>

    <div class="breadcrumb">
        <a title="Показать информацию об организации" class="show-org-info-toggler" href="#1">
            <span class="toggler">+</span>
            <span>подробнее об организации</span>
        </a>

        <div class="inline-org-info__body" style="display: none">
            <p>
                Сайт: {% if library.http_service %}
                <a target="_blank" href="{{ library.http_service }}">{{ library.http_service }}</a>
            {% else %}
                {% url 'participant_site:frontend:index' library.code as library_site_address %}
                <a href="http://{{ request.META.HTTP_HOST }}{{ library_site_address }}">
                    http://{{ request.META.HTTP_HOST }}{{ library_site_address }}
                </a>
            {% endif %}

            </p>

            <p>Адрес: {{ library.postal_address|default:'не указан' }}</p>
        </div>
    </div>
</div>

<script>
    $('.show-org-info-toggler').on('click', function () {
        var $toggelr = $(this).find('.toggler');
        if ($toggelr.text() == '+') {
            $toggelr.text('-')
        } else {
            $toggelr.text('+')
        }
        $(this).parent().find('.inline-org-info__body').toggle(100);
    });
</script>