{% extends 'participant_site/frontend/index.html' %}
{% load localeurl_tags %}
{#{% load news_tags %}#}
{#{% load events_tags %}#}
{#{% load ssearch_tags %}#}
{#{% load participiants_tags %}#}
{#{% load cache %}#}
{% block title %}{{ content.title }} / {{ library.name }}{% endblock %}
{% block content_library-crumb %}
    <nav class="crumb">
        <ol class="crumb__list">
            <li>
                <a href="{% url 'index:frontend:index' %}">Главная</a>
            </li>
            {% for ancestor in library.get_ancestors %}
                <li>
                    <a href="{% url 'participant_site:frontend:index' ancestor.code %}"
                       class="bread__crumbs_link">{{ ancestor.name }}</a>
                </li>
            {% endfor %}
            <li>
                <a href="{% url 'participant_site:frontend:index' library.code %}">{{ library.name }}</a>
            </li>
            {% for ancestor in content.page.get_ancestors_titles %}
                <li>
                    <a href="{% url 'participant_pages:frontend:show' library.code ancestor.url_path %}">
                        {% if not ancestor.title %}
                            {{ ancestor }}
                        {% else %}
                            {{ ancestor.title }}
                        {% endif %}
                    </a>
                </li>
            {% endfor %}
            <li>
                <span class="crumb__current">
                    {% if not content.title %}
                        заглавие страницы для этого языка не указано.
                    {% else %}
                        {{ content.title }}
                    {% endif %}
                </span>
            </li>
        </ol>
    </nav>
{% endblock %}

{% block content_library %}
    <div class="col-lg-7 col-md-12">
        <div class="card-transparent">
            <div class="content">
                <h1 class="content__title">{{ content.title }}</h1>
                {{ content.content|safe }}
                {% if page.show_children and children %}
                    <ul>
                        {% for child in children %}
                            {% url 'participant_pages:frontend:show' library.code child.url_path  as page_url %}
                            <li><a href="/
                                            {{ content.lang }}{{ page_url|rmlocale }}">{{ child.content.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="ya-share2"
                 data-services="vkontakte,facebook,odnoklassniki,gplus,twitter,viber,whatsapp,telegram"></div>
        </div>
    </div>
{% endblock %}

