{% extends 'theme_frontend_base.html' %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}Библиотеки{% endblock %}
{% block content %}

    <main>
        <div class="container">
            <nav class="crumb">
                <ol class="crumb__list">
                    <li>
                        <a href="{% url 'index:frontend:index' %}">
                            {% if LANGUAGE_CODE == 'ru' %}
                                Главная
                            {% elif LANGUAGE_CODE == 'tt' %}
                                Төп бит
                            {% else %}
                                Home
                            {% endif %}
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'participants:frontend:index' %}">Библиотеки</a>
                    </li>
                    {% if library.parent_id %}
                        <li>
                            <a href="{% url 'participants:frontend:branches' library.parent.code %}">{{ library.parent.name }}</a>
                        </li>
                    {% endif %}
                    <li>
                        <span class="crumb__current">{{ library.name }}</span>
                    </li>
                </ol>
            </nav>
            <div class="row">
                <div class="col-lg-12">
                    <div class="content">
                        <h1 class="content__title">{{ library.name }}</h1>
                    </div>
                    <div data-tab-component>
                        <ul class="tab-list">
                            <li class="tab-item">
                                <a class="tab-link" href="#library-map">
                                    {% if LANGUAGE_CODE == 'ru' %}
                                        Карта
                                    {% elif LANGUAGE_CODE == 'tt' %}
                                        Карта
                                    {% else %}
                                        Map
                                    {% endif %}
                                </a>
                            </li>
                            <li class="tab-item">
                                <a class="tab-link" href="#library-list">
                                    {% if LANGUAGE_CODE == 'ru' %}
                                        Список
                                    {% elif LANGUAGE_CODE == 'tt' %}
                                        Исемлек
                                    {% else %}
                                        List
                                    {% endif %}
                                </a>
                            </li>
                        </ul>
                        <section id="library-map" class="tab-panel">
                            <div class="card">
                                <div class="card__body">
                                    <div id="map_canvas">
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section id="library-list" class="tab-panel" hidden>
                            <div class="card">
                                <div class="card__body">
                                    <div class="list">
                                        {% for library in  libraries %}
                                            <div class="list__item">
                                                <div class="list__col-text">
                                                    {% if not library.is_leaf_node %}
                                                        {% url 'participants:frontend:branches' library.code as participant_site_url %}
                                                    {% else %}
                                                        {% url 'participants:frontend:detail' library.code as participant_site_url %}
                                                    {% endif %}
                                                    <h3 class="list__title">

                                                        {% if not library.is_leaf_node %}
                                                            <a class="list__title-link"
                                                               href="{{ participant_site_url }}">{{ library.name }}</a>
                                                        {% else %}
                                                            <span>{{ library.name }}</span>
                                                        {% endif %}
                                                    </h3>
{#                                                    <a class="list__link"#}
{#                                                       href="{% url 'ssearch:frontend:index' %}?library={{ library.code }}"#}
{#                                                       target="_blank">Поиск в каталоге</a>#}
                                                </div>
                                            </div>
                                        {% empty %}
                                            Список еще не сформирован
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block scripts %}
     {% include 'participants/frontend/map_js.html' %}
{% endblock %}