{% load i18n %}
{% get_current_language as lang %}
{#<style>#}
{#    #map_canvas{#}
{#        background: white;#}
{##}
{#        box-shadow: 0 0 10px #999;#}
{#        border: #ffffff solid 10px;#}
{#    }#}
{#</style>#}
{#<div id="map_canvas" style="height: 400px"></div>#}
<script type="text/javascript">
    var lang = '{{ lang }}';
    if (lang.length === 0) {
        lang = 'ru'
    }
    var jsOrgs = {{ js_orgs|safe }};
    ymaps.ready(init);
    var orgsMap;


    function init() {
        var orgBalloonTpl = _.template(document.getElementById('org_balloon_tpl').textContent);
        var orgsCollection = new ymaps.GeoObjectCollection();
        orgsMap = new ymaps.Map("map_canvas", {
            center: [62.371126, 93.702104],
            zoom: 3,
            controls: ['zoomControl', 'routeEditor', 'trafficControl']
        });

        orgsMap.controls.add('typeSelector');

        _.each(jsOrgs, function (jsOrg) {
            var fields = jsOrg;
            orgPlacemark = new ymaps.Placemark([fields.latitude, fields.longitude], {
                hintContent: fields.title,
                balloonContent: orgBalloonTpl({
                    name: fields.name || '',
                    address: fields.postal_address || 'не указан',
                    phone: fields.phone || 'не указан',
                    plans: fields.plans || 'не указан',
                    code: fields.code || '#',
                    lang: lang
                })
            });

            orgsCollection.add(orgPlacemark);
        });
        orgsMap.geoObjects.add(orgsCollection);
        if (jsOrgs.length) {

            orgsMap.setBounds(orgsCollection.getBounds());
            if (orgsMap.getZoom() > 15) {
                orgsMap.setZoom(15);
            }
        }
    }
</script>

<script type="text/html" id="org_balloon_tpl">
    <p><b><%= name %></b></p>
    <p>Адрес: <%= address %></p>
    <p>Тел.: <%= phone %></p>
    <p>Режим работы: <%= plans %></p>
    <p><a href="/<%= lang %>/participants/detail/<%= code %>/">подробнее</a></p>
</script>