{% extends 'ruslan_cabinet/frontend/index.html' %}
{% block cabinet_index %}
    {% if errors %}
        {% for error in errors %}
            <div>{{ error }}</div>
        {% endfor %}
    {% endif %}
<ul>
    {% for order in orders %}
        <li>
            {{ order.libcard|safe }}

{#            {% for info in order.oreder_info %}#}
{#                <p>{{ info }}</p>#}
{#            {% endfor %}#}
        </li>
    {% endfor %}
</ul>
{% endblock %}
{% comment %}
100         Идентификатор читателя (штрих-код)
140         Штрих-код книги
141         Инвентарный номер
142         Дата выдачи
143         Дата возврата
144         Информация о книге (краткое библиографическое описание)
145         Ключ библиографической записи (поле 001 Русмарк)
146         Организация-владелец книги
147         Отдел хранения книги (сигла)
148         Место выдачи книги – код (на руки, в ЧЗ, и т.д.)
149         Место выдачи книги – строка
150         Номер заказа
151         Состояние заказа
152         БД, в которой находится библиографическая запись документа
153         ББК
154         УДК
155         Причина отказа (в обслуживании заказа)
156         Дата отметки об утрате документа
157         Фамилия текущего пользователя
158         Имя текущего пользователя
159         Отчество текущего пользователя
160         Категория текущего пользователя
161         Код читателя при временной выдаче другому читателю
162         Номер книги РТШ
201         Служебный MID
202         Строка MARC
203         БД пользователя
204         Ключ пользователя
205         Точка выдачи книги (абонемент)
206         Цена документа
300         Заглавие документа (200a - первые 100 символов) для целей поиска
301         Сведения об ответственности документа (700a,b,g, 710a,b - первые 100 символов) для целей поиска
302         Год издания документа (210d) для целей поиска
{% endcomment %}
