{% extends 'theme_frontend_base.html' %}
{% load hash %}
{% load ssearch_tags %}
{% load order_tags %}
{% load mydocs_tags %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}{% if LANGUAGE_CODE == 'ru' %}Детальная информация{% elif LANGUAGE_CODE == 'tt' %}Детальная информация
{% else %}Detail information{% endif %}{% endblock %}
{% block content %}
    <main>
        <div class="container">
            <nav class="crumb">
                <ol class="crumb__list">
                    <li>
                        <a href="{% url 'index:frontend:index' %}">
                            {% if LANGUAGE_CODE == 'ru' %}
                                Главная
                            {% elif LANGUAGE_CODE == 'tt' %}
                                Төп бит
                            {% else %}
                                Home
                            {% endif %}
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'ssearch:frontend:index' %}">
                            {% if LANGUAGE_CODE == 'ru' %}Поиск{% elif LANGUAGE_CODE == 'tt' %}Эзләү{% else %}
                                Search{% endif %}</a>
                    </li>
                    {% if request.GET.back %}
                        <li>
                            <a href="{{ request.GET.back }}">
                                {% if LANGUAGE_CODE == 'ru' %}
                                    Результаты поиска{% elif LANGUAGE_CODE == 'tt' %}Эзләү нәтиҗәләре{% else %}Search
                                    results{% endif %}
                            </a>
                        </li>
                    {% endif %}
                    <li>
                        <span class="crumb__current">
                            {% if LANGUAGE_CODE == 'ru' %}
                                Детальная информация
                            {% elif LANGUAGE_CODE == 'tt' %}
                                Детальная информация{% else %}
                                Detail information
                            {% endif %}
                        </span>
                    </li>
                </ol>
            </nav>

            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <ul class="record-nav">
                        <li class="record-nav__item record-nav__item_booking">
                            <button id="recordNavBtn" class="record-nav__link"><i class="icon-menu"></i>&nbsp;&nbsp;Бронирование
                            </button>
                        </li>
                        {% drow_save_doc request.user gen_id %}
                        <li class="record-nav__item">
                            <a class="record-nav__link" href="{% url 'ssearch:frontend:to_print' gen_id %}"
                               target="_blank"><i class="icon-printer"></i>&nbsp;&nbsp;Печать</a>
                        </li>
                        <li class="record-nav__item">
                            <button id="marcCardBtn" class="record-nav__link"><i class="icon-note"></i>&nbsp;&nbsp;
                                {% if LANGUAGE_CODE == 'ru' %}Карточка{% elif LANGUAGE_CODE == 'tt' %}
                                    Карточка{% else %}Card{% endif %}
                            </button>
                        </li>
                    </ul>
                    <div class="record-detail">
                        <div class="record-detail__col-text">
                            {{ doc_dump|safe }}
                            <p class="record-detail__info">Идентификатор записи: {{ gen_id }}</p>
                            <p class="record-detail__info">
                                {% if LANGUAGE_CODE == 'ru' %}Количество
                                    обращений{% elif LANGUAGE_CODE == 'tt' %}Количество обращений{% else %}
                                    Views{% endif %}
                                : {{ access_count }}
                            </p>
                            {% if linked_docs %}
                                <div class="results">
                                    <p class="header">Это издание состоит из следующих томов/частей: </p>
                                    <ul class="list">
                                        {% for doc in linked_docs %}

                                            <li class="textBook">
                                                <p class="item1">
                                                    <a target="_blank"
                                                       href="{% url 'ssearch:frontend:detail' doc.id %}">
                                                        {{ doc.record.title.0 }}
                                                    </a>
                                                </p>

                                                <p class="item2">
                                                    {% for author in doc.record.author %}
                                                        {{ author }}{% if not forloop.last %}; {% endif %}
                                                    {% endfor %}
                                                </p>

                                                <p class="item3">
                                                    {% for subject in doc.record|hash:'subject-heading' %}
                                                        <span class="label label-info">{{ subject }}</span>
                                                    {% endfor %}
                                                </p>
                                                {% if doc.record|hash:'code-language' %}
                                                    <p class="item4">{% if LANGUAGE_CODE == 'ru' %}
                                                        Язык{% elif LANGUAGE_CODE == 'tt' %}Тел{% else %}
                                                        Language{% endif %}:
                                                        {% for lang in doc.record|hash:'code-language' %}
                                                            {% if not forloop.last %}
                                                                {{ lang|language_title }},
                                                            {% else %}
                                                                {{ lang|language_title }}
                                                            {% endif %}
                                                        {% endfor %}
                                                    </p>
                                                {% endif %}
                                                {% if doc.record|hash:'date-of-publication' %}
                                                    <p class="item4">{% if LANGUAGE_CODE == 'ru' %}Год
                                                        публикации{% elif LANGUAGE_CODE == 'tt' %}Бастырып
                                                        чыгару елы{% else %}
                                                        Publication year{% endif %}:
                                                        {% for dop in doc.record|hash:'date-of-publication' %}
                                                            {% if not forloop.last %}
                                                                {{ dop }},
                                                            {% else %}
                                                                {{ dop }}
                                                            {% endif %}
                                                        {% endfor %}
                                                    </p>
                                                {% endif %}
                                                {% if doc.record|hash:'publisher' %}
                                                    <p class="item4">Издатель:
                                                        {% for publisher in doc.record|hash:'publisher' %}
                                                            {% if not forloop.last %}
                                                                {{ publisher }},
                                                            {% else %}
                                                                {{ publisher }}
                                                            {% endif %}
                                                        {% endfor %}
                                                    </p>
                                                {% endif %}
                                                {% if doc.record|hash:'content-type' %}
                                                    <p class="item4">{% if LANGUAGE_CODE == 'ru' %}Тип
                                                        содержания{% elif LANGUAGE_CODE == 'tt' %}Эчтәлек
                                                        тибы{% else %}Content
                                                        tipe{% endif %}:
                                                        {% for content_type in doc.record|hash:'content-type' %}
                                                            {% if not forloop.last %}
                                                                {{ content_type|content_type_title }},
                                                            {% else %}
                                                                {{ content_type|content_type_title }}
                                                            {% endif %}
                                                        {% endfor %}
                                                    </p>
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                        <div class="record-detail__col-img">
                            {#                            {% get_record_cover  %}#}
                            {% if doc.cover %}
                                <img class="record-detail__img"
                                     src="{{ doc.cover.0 }}" alt="">
                            {% else %}
                                <img class="record-detail__img"
                                     src="{{ STATIC_URL }}dist/images/list/file.svg" alt="">
                            {% endif %}
                        </div>
                    </div>
                    <div class="card card_bs-2 marc-card">
                        <div class="card__body">
                            {{ marc_dump|safe }}
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="record-booking">
                        {% drow_el_order_menu doc.holders doc|hash:"local-number"|hash:0 %}
                        {% drow_holders_menu gen_id %}
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block scripts %}
    <script>
        function insertParam(href, key, value) {
            if (href.indexOf('?') > -1) {
                return href + '&' + key + '=' + value;
            } else {
                return href + '?' + key + '=' + value;
            }
        }

        $(function () {
            if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
                $('.record a').each(function (index) {
                    var $elink = $(this);
                    var href = $elink.attr('href');
                    var hrefParts = href.split('/');
                    if (hrefParts[hrefParts.length - 2] === 'dl') {
                        var newHref = hrefParts.slice(0, hrefParts.length - 1).join('/') + '/pdf/' + hrefParts[hrefParts.length - 1] + '.pdf';
                        $elink.attr('href', newHref);
                        $elink.attr('target', '_blank');
                    }
                });
            } else {
                $('#card .elink').click(function () {
                    var elink_href = $(this).attr('href');
                    $(this).attr('href', insertParam(elink_href, 'gen_id', '{{ gen_id|urlencode }}'));
                });
            }
        });

        // Script from drow_save_doc.html
        $('#save_doc_form').submit(function () {
            $.ajax({
                url: '{% url 'mydocs:frontend:save' %}',
                type: 'POST',
                dataType: "json",
                async: false,
                data: $(this).serialize(),
                statusCode: {
                    401: function () {
                        alert("Вы должны войти на портал.");
                    },
                    403: function () {
                        alert("Действие запрещено.");
                    },
                    500: function () {
                        alert("На сервере возникла ошибка. Администраторы оповещены.");
                    }
                },
                success: function (response) {
                    if (response.status == 'error') {
                        alert("При сохранении возникла ошибка");
                    }
                    if (response.status == 'ok') {
                        $('#save_doc_submit').addClass('btn-success');
                        $('#save_doc_submit').attr('disabled', 'disabled');
                        $('#save_doc_submit').attr('value', 'Сохранено');
                    }
                }
            });

            return false;
        });
    </script>
{% endblock %}