{% extends 'participant_menu/administration/index.html' %}
{% load active_link %}
{% load pagination_tag %}
{% load breadcrumbs %}

{% block breadcrumb %}
    <li><a href="{% url 'participant_menu:administration:menu_list' library.code %}">Меню</a> <span class="divider">/</span></li>
    <li class="active">Создание элемента</li>
{% endblock %}

{% block action_content %}
    <form class="form-horizontal" method="POST">{% csrf_token %}
        <legend>Создание элемента меню</legend>
        <fieldset>
            {% include 'administration/base_form_fields.html' with form=item_form %}
{#            {% include 'administration/base_form_fields.html' with form=translate_form %}#}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Создать</button>
                <button type="reset" class="btn">Отмена</button>
            </div>
        </fieldset>
    </form>
{#    <script type="text/javascript">#}
{#        $('a').click(function(){#}
{#            if (confirm("Вы не сохранили страницу. Всё равно покинуть?")) {#}
{#                return True;#}
{#            } else {#}
{#                return false;#}
{#            }#}
{#        });#}
{#    </script>#}

{% endblock %}