{% extends 'theme_frontend_base.html' %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}Удаленный возврат{% endblock %}
{% block content %}
    <main>
        <div class="container">
            <nav class="crumb">
                <ol class="crumb__list">
                    <li>
                        <a href="{% url 'index:frontend:index' %}">
                            {% if LANGUAGE_CODE == 'ru' %}
                                Главная
                            {% elif LANGUAGE_CODE == 'tt' %}
                                Төп бит
                            {% else %}
                                Home
                            {% endif %}
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'personal:frontend:index' %}">
                            Личный кабинет
                        </a>
                    </li>
                    <li>
                        <span class="crumb__current">
                            Удаленный возврат
                        </span>
                    </li>
                </ol>
            </nav>
            <div class="content">
                <h1 class="content__title">Удаленный возврат</h1>
            </div>
            <div class="list list_mt">
                {% for order in orders %}
                    <div class="list__item">
                        <div class="list__col-text">
                            <h3 class="list__title">Идентификатор: {{ order.order_id }}</h3>
                            <dl class="list__dl">
                                <dt>Дата возврата:</dt>
                                <dd>{{ order.receipt_date }}</dd>
                                <dt>Состояние:</dt>
                                <dd>{{ order.state }}</dd>
                                <dt>Место возврата:</dt>
                                <dd>
                                    {% if not order.receipter_org %}
                                        {{ order.receipter_id }}
                                    {% else %}
                                        {% for ancestor in order.receipter_org.get_ancestors %}
                                            {{ ancestor.name }} →
                                        {% endfor %}
                                        <b>{{ order.receipter_org.name }}</b>
                                    {% endif %}
                                </dd>
                                <dt>Документ:</dt>
                                <dd>{{ order.bib_card }}</dd>
                                <dt>Держатель:</dt>
                                <dd>
                                    {% if not order.owner_org %}
                                        {{ order.owner_id }}
                                    {% else %}
                                        {% for ancestor in order.owner_org.get_ancestors %}
                                            {{ ancestor.name }} →
                                        {% endfor %}
                                        <b>{{ order.owner_org.name }}</b>
                                    {% endif %}
                                </dd>
                            </dl>
                        </div>
                    </div>
                {% empty %}
                    <br>
                    <div class="alert alert-info">Список пуст.</div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}
