{% extends "theme_frontend_base.html" %}
{% load i18n %}
{% block title %}Password reset{% endblock %}

{% block content %}
    <div class="span12">
    {% if validlink %}
        <p>Пожалуйста, введите ваш пароль дважды для избежания ошибки при вводе.</p>
        <form action="" method="post"> {% csrf_token %}
            <fieldset>
                {% include 'frontend/base_form_fields.html' %}
                <div class="form-actions">
                    <input type="submit" value="Сменить пароль" class="btn" />
                </div>
            </fieldset>
        </form>
    {% else %}
        <h1>Смена пароля прошла неудачно.</h1>
        <p>Ссылка для сброса пароля устарела. Пожалуйста, перейдите на страницу сброса пароля еще раз.</p>
    {% endif %}
    </div>
{% endblock %}