{% extends 'frontend_base.html' %}
{% load hash %}
{% load ssearch_tags %}
{% load order_tags %}
{% load mydocs_tags %}
{% block title %}детальная информация{% endblock %}
{% block content %}
    <style type="text/css">
        .marc_dump span.fieldlabel, span.subfieldlabel {
            font-family: monospace;
            color: blue;
        }

        .marc_dump span.data, span.indicator {
            font-family: monospace;
        }

        .marc_dump span.label {
            font-family: monospace;
        }
        .record {
            font-weight: normal;
        }
    </style>
    <div class="span10">
        <ul class="breadcrumb">

            <li><a href="{% url 'index:frontend:index' %}">Начало</a> <span class="divider">/</span></li>
            <li><a href="{% url 'ssearch:frontend:index' %}">Поиск</a> <span class="divider">/</span></li>
            {% if request.GET.back %}
                <li><a href="{{ request.GET.back }}">Результаты поиска</a> <span class="divider">/</span></li>
            {% endif %}
            <li class="active">Детальная информация</li>

        </ul>

        <ul class="nav nav-tabs">
        <li class="dropdown active">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Просмотр <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#card" data-toggle="tab">Карточка</a></li>
{#                    <li><a href="#marc" data-toggle="tab">Marc</a></li>#}
                </ul>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="card">{{ doc_dump|safe }}</div>
{#            <div class="tab-pane" id="marc">{{ marc_dump|safe }}</div>#}
        </div>
        <div class="holders" style="clear: both;">
            <hr/>
            <h3>Держатели:</h3>
            {% drow_el_order_menu doc.holders doc|hash:"local-number"|hash:0 %}
        </div>
        <hr/>
        <h3>Сохранить документ</h3>
        {% drow_save_doc request.user gen_id %}
        <hr/>
        {% if doc.holders %}
            <h3>Заказать доставку</h3>
            {% drow_mba_order_menu request.user gen_id %}
        {% endif %}
    </div>
{#    <hr/>#}
{#    <div id="vk_like"></div>#}
{#    <hr/>#}
{#    <h3>Возможно, Вам будет интересно почитать так же:</h3>#}
{#    <ul style="list-style: none">#}
{#        {% for doc in mlt_docs %}#}
{#            <li>#}
{#                <div class="title"><a href="{% url ssearch:frontend:detail doc.id %}?back={{ request.get_full_path|urlencode }}">#}
{#                    {{ doc.record.title.0 }}</a></div>#}
{#                <div class="author">#}
{#                    {% for author in doc.record.author %}#}
{#                        {{ author }} {% if not forloop.last %}; {% endif %}#}
{#                    {% endfor %}#}
{#                </div>#}
{#                <div class="info">#}
{#                    {% for lang in doc.record|hash:'code-language' %}#}
{#                        {{ lang }}#}
{#                    {% endfor %}#}
{#                    {% for dop in doc.record|hash:'date-of-publication' %}#}
{#                        {{ dop }}#}
{#                    {% endfor %}#}
{#                    {% for content_type in doc.record|hash:'content-type' %}#}
{#                        {{ content_type }}#}
{#                    {% endfor %}#}
{#                    {% for publisher in doc.record|hash:'publisher' %}#}
{#                        {{ publisher }}#}
{#                    {% endfor %}#}
{#                </div>#}
{#            </li>#}
{#            <hr/>#}
{#        {% endfor %}#}
{#    </ul>#}
    <!-- Put this script tag to the <head> of your page -->
{#    <script type="text/javascript" src="http://userapi.com/js/api/openapi.js?49"></script>#}
{##}
{#    <script type="text/javascript">#}
{#        VK.init({apiId: 2797756, onlyWidgets: true});#}
{#    </script>#}
{##}
{#    <!-- Put this div tag to the place, where the Like block will be -->#}
{##}
{#    <script type="text/javascript">#}
{#        VK.Widgets.Like("vk_like", {type: "button"});#}
{#    </script>#}
{% endblock %}