{% load mptt_tags %}

<style>
    .org_tree, .org_tree__children {
        list-style: none;
    }
    .org_tree__children {
        display: none;
    }
    .org_tree__expander {
        display: inline-block;
        width: 19px;
        cursor: pointer;
    }
    .org_tree__expander:after {
        content: "]";
    }
    .org_tree__expander:before {
        content: "[";
    }
    .org_tree__expander:hover {
        background: yellow;
    }
    .org_tree__info-link {
        display: none;
        color: #ffffff !important;
    }
    .org_tree__node:hover >.org_tree__info-link {
        display: inline;
    }

</style>
{% if current_library %}
    <a href="{% url 'ssearch:frontend:ecatalog' %}?library={{ current_library.code|urlencode }}">
        {% if current_library.org_type == 'school' %}
            Искать в моей школьной библиотеке:
        {% else %}
            Искать в библиотеке:
        {% endif %}
        {% for ancestor in current_library.get_ancestors %}
            {{ ancestor.name }} →
        {% endfor %}
        <b>{{ current_library.name }}</b>
    </a>
{% endif %}
<ul class="org_tree">
    {% recursetree libraries %}
        <li class="org_tree__node">
            {% if not node.is_leaf_node %}<span class="org_tree__expander">+</span>{% endif %}
            <a title="Осуществить поиск по записям организации" class="org_tree__org_link" code="{{ node.code }}" href=""> {{ node.name }}</a>
            <a class="org_tree__info-link detail-page__options__btn" target="_blank" href="{% url 'participants:frontend:branches' node.code %}">Информация</a>
            {% if not node.is_leaf_node %}
                <ul class="org_tree__children">
                    {{ children }}
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
</ul>
<script>
    $(".org_tree__expander").on("click", function (e) {
        $expander = $(this);
        if ($expander.text() === '+') {
            $expander.text('-')
        } else {
            $expander.text('+')
        }
        e.stopPropagation();
        $expander.parent().children('ul').toggle();
    });
</script>