{% extends 'theme_frontend_base.html' %}
{% load i18n %}
{% load bootstrap3 %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}
    {% if LANGUAGE_CODE == 'ru' %}
        Авторизация
    {% elif LANGUAGE_CODE == 'tt' %}
        Авторизация
    {% else %}
        Authorization
    {% endif %}
{% endblock %}
{% block content %}
    <main>
        <div class="container">
            <nav class="crumb">
                <ol class="crumb__list">
                    <li>
                        <a href="{% url 'index:frontend:index' %}">
                            {% if LANGUAGE_CODE == 'ru' %}
                                Главная
                            {% elif LANGUAGE_CODE == 'tt' %}
                                Төп бит
                            {% else %}
                                Home
                            {% endif %}
                        </a>
                    </li>
                    <li>
                     <span class="crumb__current">
                        Авторизация
                    </span>
                    </li>
                </ol>
            </nav>
            <div class="content">
                <h1 class="content__title">Авторизация</h1>
                {#                {% if library %}#}
                {#                    <h3>Выполнить поиск по каталогу:</h3>#}
                {#                    <div>#}
                {#                        <a class="footer-logo__ask-lib"#}
                {#                           href="{% url 'ssearch:frontend:ecatalog' %}?library={{ library.code }}">#}
                {#                            {% for ancestor in library.get_ancestors %}#}
                {#                                {{ ancestor.name }} →#}
                {#                            {% endfor %}#}
                {#                            <b>{{ library }}</b>#}
                {#                        </a>#}
                {#                    </div>#}
                {#                {% endif %}#}
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card card_mt">
                        <div class="card__body">
                            <p class="card__text card__text-center">Вход на портал с использованием идентификатора
                                и пароля Единого Читательского билета.
                            </p>
                            <br>
                            <form method="POST">
                                {% csrf_token %}
                                {% bootstrap_form form %}
                                <button class="btn btn_wf">Войти</button>
                            </form>
                        </div>
                        <div class="card__footer">
                            <ul class="card-nav">
                                <li class="card-nav__item">
                                    <a class="card-nav__link" href="{% url 'accounts:frontend:password_reset' %}">
                                        Забыли пароль?
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <section class="card card_bs-2 card_mt">
                        <div class="card__body">
                            <p class="card__text card__text-center"> Вход с использованием учетной записи на портале
                                электронного
                                образования РТ.
                            </p>
                        </div>
                        <div class="card__footer">
                            <ul class="card-nav">
                                <li class="card-nav__item">
                                    <a class="card-nav__link" href="{% url 'sso_tatedu:index' %}">
                                        Войти через портал ЭО РТ
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </section>
                    <br>
                    <div class="alert alert-info">
                        Вход с использованием учетной записи на портале Госуслуг Временно отключен.
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}


