<div class="alert alert-success">
    Вы можете войти на портал без регистрации используя свой аккаунт в социальных сетях.
</div>
<a rel="nofollow" href="{% url 'socialauth_begin' 'vk-oauth' %}" title="Вконтакте"><img src="/static/images/icons/48x48/vkontakte-oauth2.png" alt="Вконтакте"></a>
<a rel="nofollow" href="{% url 'socialauth_begin' 'facebook' %}" title="Facebook"><img src="/static/images/icons/48x48/facebook.png" alt="Facebook"></a>
{#<a rel="nofollow" href="{% url socialauth_begin 'mailru-oauth2' %}" title="Mail.ru"><img src="/static/images/icons/48x48/mailru-oauth2.png" alt="Mail.ru"></a>#}
{#<a rel="nofollow" href="{% url socialauth_begin 'yandex-oauth2' %}" title="Yandex"><img src="/static/images/icons/48x48/yandex-oauth2.png" alt="Yandex"></a>#}
{#<a rel="nofollow" href="{% url socialauth_begin 'google-oauth2' %}" title="Google"><img src="/static/images/icons/48x48/google-oauth2.png" alt="Google"></a>#}
