{% extends 'theme_frontend_base.html' %}
{% load i18n %}
{% block title %}
    {% trans 'Registration' %}
{% endblock %}
{% block content %}
    <div class="span12">
        <div class="alert alert-success">
            <b>Спасибо за регистрацию! Теперь Вы можете войти в систему и воспользоваться сервисами через личный кабинет.</b>
{#            Спасибо за регистрацию! Пожалуйста, проверьте Ваш email, который Вы указали при регистрации. На него было выслано письмо с кодом активации.<br/>#}
{#            <b>Если письмо долго не появляется во входящих сообщениях, проверьте папку "Спам", возможно письмо было помещено в нее.</b>#}
        </div>
    </div>
{% endblock %}