<p>Подождите, идет авторизация в wi-fi сети...</p>
<form id="wifi-auth-form" style="display: none;" action="https://wifiauth.tatar.ru/login.html" method="post" name="wifiform">
    <input name="buttonClicked" size="16" maxlength="15" value="4" type="hidden">
    <input name="redirect_url" size="255" maxlength="255" value="{% if request.is_secure %}https{% else %}http{% endif %}://{{ request.META.HTTP_HOST }}{% url 'accounts:frontend:wifi' %}" type="hidden">
    <input name="err_flag" size="16" maxlength="15" value="0" type="hidden">
    <input name="username" size="25" maxlength="63" type="text" value="{{ username }}">
    <input name="password" size="25" maxlength="63" type="password" value="{{ password }}">
</form>
<script>
document.wifiform.submit();
</script>