{% extends 'participant_pages/administration/index.html' %}
{% load i18n %}
{% load active_link %}
{% load pagination_tag %}
{% load breadcrumbs %}
{% load pages_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% block breadcrumb %}
    <li><a href="{% url 'participant_pages:administration:pages_list' library.code %}">Страницы</a> <span
            class="divider">/</span></li>
    {% if page.parent_id %}
        {% for ancestor in page.parent.get_ancestors %}
            {% with ancestor.get_cur_lang_content as cur_lang_content %}
                <li>
                    <a href="{% url 'participant_pages:administration:pages_list' library.code ancestor.id %}">
                        {% if not cur_lang_content %}
                            {{ ancestor }}
                        {% else %}
                            {{ cur_lang_content }}
                        {% endif %}
                    </a><span class="divider">/</span>
                </li>
            {% endwith %}
        {% endfor %}
        <li>
           <a href="{% url 'participant_pages:administration:pages_list' library.code page.parent.id %}">
               {% with page.parent.get_cur_lang_content as parent_cur_lang_content %}
                {% if not parent_cur_lang_content %}
                    {{ ancestor }}
                {% else %}
                    {{ parent_cur_lang_content }}
                {% endif %}
            {% endwith %}
           </a>
            <span class="divider">/</span>
        </li>
    {% endif %}
    <li class="active">
        {% with page.get_cur_lang_content as cur_lang_content %}
            {% if not cur_lang_contentt %}
                {{ page }} (нет заглавия для языка {{ LANGUAGE_CODE }})
            {% else %}
                {{ cur_lang_content }}
            {% endif %}
        {% endwith %}
    </li>

{% endblock %}

{% block action_content %}
    <form class="form-horizontal" method="POST">{% csrf_token %}
        <legend>Редактирование страницы</legend>
        <fieldset>
            {% include 'administration/base_form_fields.html' with form=page_form %}
            {#            {% include 'administration/base_form_fields.html' with form=translate_form %}#}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Сохранить</button>
                <button type="reset" class="btn">Отменить</button>
            </div>
        </fieldset>
    </form>
    <h3>Редактирование контента страницы на следующих языках:</h3>
    <ul>
        {% for lang in langs %}
            <li>
                <a href="{% url 'participant_pages:administration:edit_page_content' library.code page.id lang.code %}">{{ lang.title }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}