{% extends 'index/frontend/index.html' %}
{% load pagination_tag %}
{% block title %}{{ content.title }}{% endblock %}
{% block breadcrumb %}
<section>
    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li><a href="{% url 'index:frontend:index' %}">Начало</a> <span class="divider">/</span></li>
            <li class="active">Избранные мероприятий</li>
        </ul>
    </div>
</section>
{% endblock %}
{% block index_content %}

    <ul class="events">
        {% for event in events_list %}
            <div class="title"><a href="{% url 'events:frontend:favorite_show' event.id %}?back={{ request.get_full_path }}">{{ event.event_content.title }}</a></div>
            <div class="teaser">{{ event.event_content.teaser }}</div>
            <div class="create_date">Начало: <b>{{ event.start_date }}</b></div>
            {% if not forloop.last %}<hr/>{% endif %}
        {% endfor %}
    </ul>
    {% pagination events_page %}
{% endblock %}