{% extends 'theme_frontend_base.html' %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load events_tags %}
{% load pagination_tag %}
{% block title %}Афиша{% endblock %}
{% block content %}
    <main>
        <div class="container">
            <nav class="crumb">
                <ol class="crumb__list">
                    <li>
                        <a href="{% url 'index:frontend:index' %}">
                            {% if LANGUAGE_CODE == 'ru' %}
                                Главная
                            {% elif LANGUAGE_CODE == 'tt' %}
                                Төп бит
                            {% else %}
                                Home
                            {% endif %}
                        </a>
                    </li>
                    {% if not date_filtered %}
                        <li>
                            <span class="crumb__current">Афиша</span>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'events:frontend:index' %}">Афиша</a>
                        </li>
                        <li>
                        <span class="crumb__current">Афиша события за:
                            {{ date_filtered|date:'j E Y' }}</span>
                        </li>
                    {% endif %}
                </ol>
            </nav>
            <div class="content">
                <h1 class="content__title">Афиша</h1>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-7 col-md-12">
                    <div class="event-list">
                        {% for event in events_list %}
                            <article class="event-list__item">
                                <div class="event-list__date-wrap">
                                    <time class="event-list__date">
                                        <span>{{ event.start_date|date:'j' }}</span>
                                        <span>{{ event.start_date|date:'E' }}</span>
                                        <span>{{ event.start_date|date:'H:i' }}</span>
                                    </time>
                                </div>
                                <div class="event-list__detail">
                                    <h3 class="event-list__detail-title">
                                        <a class="event-list__detail-link"
                                           target="_blank"
                                           href="{% url 'participant_events:frontend:show' event.library.code event.id %}?back={{ request.get_full_path }}">
                                            {{ event.event_content.title }}
                                        </a>
                                    </h3>
                                    <p class="event-list__detail-description">{{ event.event_content.teaser }}</p>
                                    <p class="event-list__detail-description">Место
                                        проведения: {{ event.library.name }}</p>
                                </div>
                            </article>
                        {% endfor %}
                    </div>
                    {% admin_pagination events_page %}
                </div>
                <div class="col-lg-5 col-md-12">
                    <section class="card">
                        <header class="card__header">
                            <h2 class="card__title">Уточните направление события</h2>
                        </header>
                        <form method="GET">
                            <div class="card__body">
                                {% include 'frontend/base_form_fields.html' with form=filter_form %}
                            </div>
                            <div class="card__footer">
                                <ul class="card-nav">
                                    <li class="card-nav__item">
                                        <button class="card-nav__link" type="submit">Фильтровать</button>
                                    </li>
                                    <li class="card-nav__item">
                                        <a class="card-nav__link" href="{{ request.META.PATH_INFO }}">Очистить</a>
                                    </li>
                                </ul>
                            </div>
                        </form>
                    </section>
                    <section class="card card_mt">
                        <header class="card__header">
                            <h2 class="card__title">Календарь</h2>
                        </header>
                        <div class="card__body">
                            {% events_calendar %}
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
