{% extends 'theme_frontend_base.html' %}
{% block title %}Личный кабинет{% endblock %}
{% block content %}
    <style>
        .personal .thumbnail{
            height: 70px;
            margin-bottom: 10px;
            background: #f8f8f8;
        }
        .personal .thumbnail:hover{
            background: #ededed;
        }
        .personal .thumbnail a {
            color: #434343;
            text-decoration: none;
            font-size: 18px;
            display: block;
            height: 100%;
        }
    </style>
    <div class="span12">
        <ul class="breadcrumb">
            <li><a href="{% url 'index:frontend:index' %}">Начало</a> <span class="divider">/</span></li>
            <li class="active">Личный кабинет</li>
        </ul>
        <div class="row personal">
            <div class="span6">
                <div class="thumbnail">
                    <a href="{% url 'orders:frontend:on_hand' %}">Выданные книги</a>
                </div>
            </div>
            <div class="span6">
                <div class="thumbnail">
                    <a href="{% url 'orders:frontend:reservations' %}">Заказы на бронирование</a>
                </div>
            </div>
            <div class="span6">
                <div class="thumbnail">
                    <a href="{% url 'mydocs:frontend:index' %}">Мои документы</a>
                </div>
            </div>
            <div class="span6">
                <div class="thumbnail">
                    <a href="{% url 'ssearch:frontend:saved_search_requests' %}">Поисковые запросы</a>
                </div>
            </div>
            <div class="span6">
                <div class="thumbnail">
                    <a href="{% url 'urt:frontend:index' %}">Мои библиотеки</a>
                </div>
            </div>
            <div class="span6">
                <div class="thumbnail">
                    <a href="{% url 'ask_librarian:frontend:my_questions' %}">Мои вопросы</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}