{% extends 'theme_frontend_base.html' %}
{% load add_get_tag %}
{% load pagination_tag %}
{% load hash %}
{% load ssearch_tags %}

{% block title %}Поиск по каталогу{% endblock %}
{% block content %}










    <div class="searchContent">
{#        <form class="well form-search" method="GET">#}
{#            {% for search_breadcumb in search_breadcumbs %}#}
{#                <input type="hidden" name="fattr" value="{{ search_breadcumb.attr }}">#}
{#                <input type="hidden" name="fq" value="{{ search_breadcumb.value }}">#}
{#            {% endfor %}#}
{##}
{#            <input type="text" class="search-query" name="q" style="width: 64%" value="{{ request.GET.q }}"/>#}
{#            <input type="submit" class="btn btn-success" style="width: 10%" value="Поиск">#}
{##}
{#            <br/>#}
{#            Искать в найденном: <input type="checkbox" name="in_founded"  {% if request.GET.in_founded %}checked="checked"{% endif %}>#}
{#        </form>#}
        <form class="well form-search" method="GET">
            {% for search_breadcumb in search_breadcumbs %}
                <input type="hidden" name="fattr" value="{{ search_breadcumb.attr }}">
                <input type="hidden" name="fq" value="{{ search_breadcumb.value }}">
            {% endfor %}
            <div class="first"><span>Поиск:</span></div>

            <div class="sel_imul">
                <div class="sel_selected">
                    <div class="selected-text">Везде</div>
                </div>
                <div class="sel_options">
                    {% for search_attr in search_attrs %}
                        <div class="sel_option" value="{{ search_attr.value }}" id="so_text">{{ search_attr.title }}</div>
                    {% endfor %}
{#                    <div class="sel_option" value="text" id="so_text">Везде</div>#}
{#                    <div class="sel_option" value="author" id="so_author">Автор</div>#}
{#                    <div class="sel_option" value="title" id="so_title">Заглавие</div>#}
{#                    <div class="sel_option" value="subject-heading" id="so_subject-heading">Тематика</div>#}
{#                    <div class="sel_option" value="date-of-publication" id="so_date-of-publication">Год публикации</div>#}
{#                    <div class="sel_option" value="isbn" id="so_isbn">ISBN</div>#}
{#                    <div class="sel_option" value="issn" id="so_issn">ISSN</div>#}
                </div>
            </div>
            <select id="ourselect" style="display: none;" name="attr">
                {% for search_attr in search_attrs %}
                    <option value="{{ search_attr.value }}" {% if request.GET.attr == search_attr.value %}selected="selected"{% endif %}>{{ search_attr.title }}</option>
                {% endfor %}
{#                <option value="text" {% if request.GET.attr == 'text' %}selected="selected"{% endif %}>Везде</option>#}
{#                <option value="author" {% if request.GET.attr == 'author' %}selected="selected"{% endif %}>Автор</option>#}
{#                <option value="title" {% if request.GET.attr == 'title' %}selected="selected"{% endif %}>Заглавие</option>#}
{#                <option value="subject-heading" {% if request.GET.attr == 'subject-heading' %}selected="selected"{% endif %}>Тематика</option>#}
{#                <option value="date-of-publication" {% if request.GET.attr == 'date-of-publication' %}selected="selected"{% endif %}>Год публикации</option>#}
{#                <option value="isbn" {% if request.GET.attr == 'isbn' %}selected="selected"{% endif %}>ISBN</option>#}
{#                <option value="issn" {% if request.GET.attr == 'issn' %}selected="selected"{% endif %}>ISSN</option>#}
            </select>

            <div id="search">
                <div id="left"></div><div id="middle"></div><div id="right"></div>
                <div id="search-elements">
                    <input type="text" id="search-input" placeholder="Поиск" name="q" value="{{ request.GET.q }}"/>
                    <input type="submit" value="Искать" id="search-submit">
                </div>
            </div>

        <div class="clear"></div>
        <div class="searchAttr">
{#            <div class="IzbBut"> <a class="saveIzbBut" href="#">Сохранить в избранном</a> </div>#}
{#            <div class="check2 parent checkbox searchCheck"><span>искать в найденном</span></div>wefwef#}
            <input type="checkbox" name="in_founded"  {% if request.GET.in_founded %}checked="checked"{% endif %}> <span>искать в найденном</span>

        </div>
        </form>
    </div>
    {% if search_breadcumbs %}
    <div  class="info">
        <a href="{% url 'index:frontend:index' %}">Главная</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="{% url 'ssearch:frontend:index' %}">Поиск</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a class="active">Результат поиска:  найдено документов: {{ search_statisics.num_found }}, время выполнения запрос: {{ search_statisics.search_time }} сек.</a>

        </br></br>
        <div class="way">
            <span>Поиск:</span>
            {% for search_breadcumb in search_breadcumbs %}
                {% if not forloop.last %}
                    {% if search_breadcumb.attr == 'content-type' %}
                        <span><a href="?{{ search_breadcumb.href }}">{{ search_breadcumb.attr|facet_title }}: {{ search_breadcumb.value|content_type_title }}</a></span> →
                    {% elif search_breadcumb.attr == 'code-language' %}
                        <span><a href="?{{ search_breadcumb.href }}">{{ search_breadcumb.attr|facet_title }}: {{ search_breadcumb.value|language_title }}</a></span> →
                    {% else %}
                        <span><a href="?{{ search_breadcumb.href }}">{{ search_breadcumb.attr|facet_title }}: {{ search_breadcumb.value|lower|capfirst }}</a></span> →
                    {% endif %}
                {% else %}
                    {#                <li><a href="{% add_get_append q=value.0 attr='content-type' %}">{{ value.0|content_type_title }}</a> (<b>{{ value.1 }}</b>)</li>#}
                    {% if search_breadcumb.attr == 'content-type' %}
                        <span>{{ search_breadcumb.attr|facet_title }}: {{ search_breadcumb.value|content_type_title }}</span>
                    {% elif search_breadcumb.attr == 'code-language' %}
                        <span>{{ search_breadcumb.attr|facet_title }}: {{ search_breadcumb.value|language_title }}</span>
                    {% else %}
                        <span>{{ search_breadcumb.attr|facet_title }}: {{ search_breadcumb.value|lower|capfirst }}</span>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% if docs %}
    <div class="searchRes2">
        <div class="headerText2">
{#            <div>#}
{#                <a href="#">Выделить все</a>#}
{#                <a href="#">Очистить</a>#}
{#            </div>#}
            {% if request.user.is_authenticated %}
                <a href="{% url 'ssearch:frontend:save_search_request' %}?srequest={{ search_request|urlencode }}" class="saveIzbBut" id="save_request_button">Сохранить запрос</a>
            {% endif %}
            <div class="sort">
                <div class="sorting">
                    <form action="{{ request.path }}?{{ request.GET.urlencode }}" method="GET" class="form-inline">
                        <label>Сортировать по:</label>
                        {% for sort_attr in sort %}
                            <select name="sort" style="width: auto;" class="sort_select">
                                <option value="0">релевантности</option>
                                <option value="author" {% if sort_attr == 'author' %}selected="selected"{% endif %}>Автору</option>
                                <option value="title" {% if sort_attr == 'title' %}selected="selected"{% endif %}>Заглавию</option>
                                <option value="date-of-publication" {% if sort_attr == 'date-of-publication' %}selected="selected"{% endif %}>Году публикации</option>
                                <option value="tom" {% if sort_attr == 'tom' %}selected="selected"{% endif %}>Тому/части</option>
                            </select>
                        {% empty %}
                            <select name="sort" style="width: auto;" class="sort_select">
                                <option value="0">релевантности</option>
                                <option value="author">Автору</option>
                                <option value="title">Заглавию</option>
                                <option value="date-of-publication">Году публикации</option>
                                <option value="tom">Тому/части</option>
                            </select>
                        {% endfor %}
                        <a href="#1" id="add_sort_button" title="Добавить условие сортировки">добавить</a>
                        <button class="sortBut">Сортировать</button>
                        {% for search_breadcumb in search_breadcumbs %}

                            {% if forloop.last %}
                                <input type="hidden" name="attr" value="{{ search_breadcumb.attr }}">
                                <input type="hidden" name="q" value="{{ search_breadcumb.value }}">
                            {% else %}
                                <input type="hidden" name="fattr" value="{{ search_breadcumb.attr }}">
                                <input type="hidden" name="fq" value="{{ search_breadcumb.value }}">
                            {% endif %}
                        {% endfor %}
                        <script type="text/javascript">
                            $('#add_sort_button').click(function(){
                                if ($('.sort_select').length >= 3){
                                    return false;
                                }
                                $('.sort_select').last().clone().insertAfter($('.sort_select').last());
//                                $('.sort_select').last().insertAfter($('.sort_select').clone());
                            });
                        </script>
                    </form>
{#                <div class="item1">Сортировать:</div>#}
{#                <div class="item2">#}
{#                    <div class="select_cont">#}
{#                        <div class="sel_imul">#}
{#                            <div class="sel_selected">#}
{#                                <div class="selected-text">По популярности</div>#}
{#                            </div>#}
{#                            <div class="sel_options">#}
{#                                <div class="sel_option" value="1">По дате</div>#}
{#                                <div class="sel_option" value="2">По автору</div>#}
{#                                <div class="sel_option" value="3">По популярности</div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <select id="ourselect1" style="display: none;">#}
{#                            <option value="1">По дате</option>#}
{#                            <option value="2">По автору</option>#}
{#                            <option value="3">По популярности</option>#}
{#                        </select>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="item3">#}
{#                    <a href="#" class="saveIzbBut">Сортировать</a>#}
{#                </div>#}
            </div>
            <div class="clear"></div>
        </div>
    </div>
        </div>
    {% else %}
        <div style="height: 300px"></div>
    {% endif %}
{% endif %}

    <div class="clear"></div>
    {% if docs %}
    <div class="right right2">
    <style>
        #content .right p span {
            color: #ffffff;
        }
        .item1{
            font-size: 16px;
        }
        .label {
            padding: 1px 4px 2px;
            font-size: 10.998px;
            font-weight: bold;
            line-height: 13px;
            color: white;
            vertical-align: middle;
            white-space: nowrap;
            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
            background-color: #999;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
        }
        .label{
            background: #287c1e;

        }
        .highlights em {
            background: #d3ff82;
        }
    </style>
        {% for doc in docs %}
            <div class="listBook">
{#                <div class="check2 parent checkbox">#}
{##}
{#                </div>#}
{#                <div class="imgBook">#}
{#                    <img src="images/book4.jpg" />#}
{#                </div>#}
                <div class="textBook">
                    <p class="item1"><a href="{% url 'ssearch:frontend:detail' doc.id %}?back={{ request.get_full_path|urlencode }}">{{ doc.record.title.0 }}</a></p>
                    <p class="item2">
                        {% for author in doc.record.author %}
                            {{ author }}{% if not forloop.last %}; {% endif %}
                        {% endfor %}
                    </p>
                    <p class="item3">
                        {% for subject in doc.record|hash:'subject-heading' %}
                            <span class="label label-info">{{ subject }}</span>
                        {% endfor %}
                    </p>
                    {% if doc.record|hash:'code-language' %}
                        <p class="item4">Язык:
                            {% for lang in doc.record|hash:'code-language' %}
                                {% if not forloop.last %}
                                    {{ lang|language_title }},
                                {% else %}
                                    {{ lang|language_title }}
                                {% endif %}
                            {% endfor %}
                        </p>
                    {% endif %}
                    {% if doc.record|hash:'date-of-publication' %}
                        <p class="item4">Дата публикации:
                            {% for dop in doc.record|hash:'date-of-publication' %}
                                {% if not forloop.last %}
                                    {{ dop }},
                                {% else %}
                                    {{ dop }}
                                {% endif %}
                            {% endfor %}
                        </p>
                    {% endif %}
                    {% if doc.record|hash:'publisher' %}
                        <p class="item4">Издатель:
                            {% for publisher in doc.record|hash:'publisher' %}
                                {% if not forloop.last %}
                                    {{ publisher }},
                                {% else %}
                                    {{ publisher }}
                                {% endif %}
                            {% endfor %}
                        </p>
                    {% endif %}
                    {% if doc.record|hash:'content-type' %}
                        <p class="item4">Тип содержания:
                            {% for content_type in doc.record|hash:'content-type' %}
                                {% if not forloop.last %}
                                    {{ content_type|content_type_title }},
                                {% else %}
                                    {{ content_type|content_type_title }}
                                {% endif %}
                            {% endfor %}
                        </p>
                    {% endif %}
                {% if doc.solr_highlights %}
                <div class="highlights">
                    {{ doc.solr_highlights|hash:"full-text"|hash:0|safe }}
                </div>
                {% endif %}
                    <p class="item5"><a href="{% url 'ssearch:frontend:detail' doc.id %}?back={{ request.get_full_path|urlencode }}">Подробная информация</a></p>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="left left2">
        <div class="Treee">
{#            <div class="group">#}
{#                <div class="parent active">#}
{#                    <a href="#">Все форматы</a>#}
{#                </div>#}
{#            </div>#}
            {% for facet in facets %}
                <div class="group">
                <div class="parent ">
                    <a href="#"><b>{{ facet|facet_title }}</b></a>
                </div>
                        {% for value in facets|hash:facet %}
                            {% if facet == 'date-of-publication' %}
                                <div class="child "><a href="{% add_get_append q=value.0|date_from_isostring|date:"Y" attr='date-of-publication' %}">{{ value.0|date_from_isostring|date:"Y" }}</a> (<b>{{ value.1 }}</b>)</div>
                            {% elif facet == 'content-type' %}
                                <div class="child "><a href="{% add_get_append q=value.0 attr='content-type' %}">{{ value.0|content_type_title }}</a> (<b>{{ value.1 }}</b>)</div>
                            {% elif facet == 'subject-heading' %}
                                <div class="child "><a href="{% add_get_append q=value.0 attr=facet %}">{{ value.0|lower|capfirst }}</a> (<b>{{ value.1 }}</b>)</div>
                            {% elif facet == 'code-language' %}
                                <div class="child "><a href="{% add_get_append q=value.0 attr='code-language' %}">{{ value.0|language_title }}</a> (<b>{{ value.1 }}</b>)</div>
                            {% else %}
                                <div class="child "><a href="{% add_get_append q=value.0 attr=facet %}">{{ value.0 }}</a> (<b>{{ value.1 }}</b>)</div>
                            {% endif %}
                        {% empty %}
                            <div class="child " style="color: #808080;">сведений нет</div>
                        {% endfor %}
                </div>
            {% endfor %}
{#            <a href="#" class="viewAll">Смотреть все</a>#}
        </div>
    </div>
    <div class="clear"></div>
    <div class="searchRes">
        <div class="headerText">
{#            <p>Результат поиска <strong>1-10</strong> из <strong>6 291 117</strong></p>#}
            <style>
                .navigat2 ul li.active{
                    font-weight: bold;
                }
                .navigat2 ul li.disabled{
                    color: #888888;
                }
            </style>
            <div class="navigat2">
                {% admin_pagination results_page %}
            </div>
        </div>
    </div>


    <script type="text/javascript">
        $('#save_request_button').click(function(){
            $.ajax({
                url:$(this).attr('href'),
                type:'GET',
                dataType:"json",
                async:true,
                success:function (response) {
                    if (response['status'] == 'ok'){
                        var button = $('#save_request_button');
                        button.html('Сохранен');
                        button.addClass('disabled');
                        button.attr('href', '#1');

                    }
                    else{
                        alert('При сохранении возникла ошибка');
                    }
                }
            });
            return false;
        });
    </script>
    {% endif %}
{% endblock %}