{% extends 'participant_site/frontend/index.html' %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}{{ news.title }} / {{ news.library.name }}{% endblock %}
{% block content_library-crumb %}
    <nav class="crumb">
        <ol class="crumb__list">
            <li>
                <a href="{% url 'index:frontend:index' %}">
                    Главная
                </a>
            </li>
            <li>
                <a href="{% url 'participant_site:frontend:index' news.library.code %}">
                    {{ news.library.name }}
                </a>
            </li>
            <li>
                <a href="{% url 'participant_news:frontend:index' news.library.code %}">
                    Новости
                </a>
            </li>
        </ol>
    </nav>
{% endblock %}

{% block content_library %}
    <div class="col-lg-7 col-md-12">
        <div class="card-transparent">
            <div class="content">
                <h1 class="content__title">{{ news.title }}</h1>
                <div class="content__info">
                    <time class="content__date"><span class="icon-wall-clock"></span>&nbsp;&nbsp;{{ news.create_date }}
                    </time>
                </div>
                {{ news.content|safe }}
                {% if news_images %}
                    <h3>Фотоматериалы</h3>
                    <div class="fotorama" data-nav="thumbs">
                        {% for news_image in news_images %}
                            <a data-caption='{{ news_image.title }}' title="1111"
                               href="{{ MEDIA_URL }}{{ news_image.image }}"><img title="2222" src="
                                            {{ MEDIA_URL }}{{ news_image.get_tmb_path }}"></a>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="ya-share2"
                 data-services="vkontakte,facebook,odnoklassniki,gplus,twitter,viber,whatsapp,telegram"></div>
        </div>
    </div>
{% endblock %}