{% extends 'theme_frontend_base.html' %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load pagination_tag %}
{% block title %}{{ content.title }}{% endblock %}
{% block content %}
    <nav class="bg bg_second">
        <div class="container">
            {% include 'main_menu.html' %}
        </div>
    </nav>
    <main>
        <div class="container">
            <ul class="bread__crumbs">
                <li>
                    <a class="bread__crumbs_link" href="{% url 'index:frontend:index' %}">
                        {% if LANGUAGE_CODE == 'ru' %}
                            Главная
                        {% elif LANGUAGE_CODE == 'tt' %}
                            Төп бит
                        {% else %}
                            Home
                        {% endif %}
                        </a>
                </li>
                <li>
                    <img src="{{ STATIC_URL }}dist/images/br_crumbs.svg">
                </li>
                <li>
                    <a class="bread__crumbs_link bread__crumbs_link_active">
                        {% if LANGUAGE_CODE == 'ru' %}Новые поступления{% elif LANGUAGE_CODE == 'tt' %}Соңгы кертелгән
                            китаплар{% else %}From new arrivals{% endif %}
                    </a>
                </li>
            </ul>
        </div>
        <hr class="footer-hr">
        <div class="container">
        {% admin_pagination items_page %}
        <div class="result-container">

            {% for item in items_list %}
                {% if item.id_in_catalog %}
                    {% url 'ssearch:frontend:detail'  item.id_in_catalog  as item_url %}
                {% else %}
                    {% url 'newinlib:frontend:show' item.id as item_url %}
                {% endif %}
                <div class="result">
                    <div class="result__info">
                        <h3>
                            <a href="{{ item_url }}">{{ item.item_content.title }}</a>
                        </h3>



                        <div class="result__detail">
                            <div class="result__detail_box">
                                {% if item.avatar_img_name %}
                                    <a href="{{ item_url }}"><img class="result__detail_img"
                                         src="{{ MEDIA_URL }}uploads/newinlib/itemavatars/{{ item.avatar_img_name }}"/>
                                    </a>
                                {% endif %}
                            </div>
                            <div class="result__detail_box">{{ item.item_content.content|safe }}</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        {% admin_pagination items_page %}
        </div>
    </main>






    {##}
    {#    <div class="span12">#}
    {#    <style>#}
    {#        .thumbnail{#}
    {#            margin-bottom: 10px;#}
    {#        }#}
    {#        .thumbnail .image, .thumbnail .info {#}
    {#            float: left;#}
    {#        }#}
    {#        .thumbnail .info{#}
    {#            margin-left: 10px;#}
    {#            width: 800px;#}
    {#        }#}
    {#        .thumbnail:last-child{#}
    {#            margin-bottom: 0;#}
    {#        }#}
    {#        .thumbnail  img {#}
    {#            border: 5px solid #E0DCD0;#}
    {#            width: 86px;#}
    {#        }#}
    {#        .thumbnail  a {#}
    {#            font-weight: bold;#}
    {#            text-decoration: none;#}
    {#            font-size: 12px;#}
    {#        }#}
    {#    </style>#}
    {#    <div class="breadcrumb">#}
    {#        <a href="{% url 'index:frontend:index' %}">{% if LANGUAGE_CODE == 'ru' %}Начало{% elif LANGUAGE_CODE == 'tt' %}Начало{% else %}Home{% endif %}</a> <span class="divider">/</span>#}
    {#        <span class="active">{% if LANGUAGE_CODE == 'ru' %}Новые поступления{% elif LANGUAGE_CODE == 'tt' %}Соңгы кертелгән китаплар{% else %}From new arrivals{% endif %} <a href="{% url 'newinlib:frontend:rss' %}"><img src="{{ STATIC_URL }}images/rss.png" alt="{% if LANGUAGE_CODE == 'ru' %}Подписка{% else %}Subscribe{% endif %}" style="width: 15px;"></a></span>#}
    {##}
    {#    </div>#}
    {#    {% for item in items_list %}#}
    {#        {% if item.id_in_catalog %}#}
    {#            {% url 'ssearch:frontend:detail'  item.id_in_catalog  as item_url %}#}
    {#        {% else %}#}
    {#            {%  url 'newinlib:frontend:show' item.id as item_url %}#}
    {#        {% endif %}#}
    {##}
    {#        <div class="thumbnail">#}
    {#        {% if item.avatar_img_name %}<div class="image"><a href="{{ item_url }}"><img src="{{ MEDIA_URL }}uploads/newinlib/itemavatars/{{ item.avatar_img_name }}" alt="{{ item.item_content.title }}"></a></div>{% endif %}#}
    {#        <div class="info">#}
    {#            <h4>{{ item.item_content.title }}</h4>#}
    {#            {{ item.item_content.content|safe }}#}
    {#            <p><a href="{{ item_url }}">подробнее</a></p>#}
    {#        </div>#}
    {#            <div style="clear: both;"></div>#}
    {#        </div>#}
    {#    {% endfor %}#}
    {##}
    {#        <div style="clear: both;"></div>#}
    {#        {% admin_pagination items_page %}#}
    {#    </div>#}
    {##}
    {##}
{% endblock %}