{% extends 'theme_frontend_base.html' %}
{% block title %}Редактирование связи{% endblock %}
{% block content %}
    <div class="span12">

        <ul class="breadcrumb">
            <li><a href="{% url 'index:frontend:index' %}">Начало</a> <span class="divider">/</span></li>
            <li><a href="{% url 'personal:frontend:index' %}">Личный кабинет</a> <span class="divider">/</span></li>
            <li><a href="{% url 'urt:frontend:index' %}">Мои библиотеки</a> <span class="divider">/</span></li>
            <li class="active">Редактирование связи</li>
        </ul>


        {% if errors %}
            {% include 'frontend/errors.html' %}
        {% endif %}

        <form class="form-horizontal" method="POST">{% csrf_token %}
            <legend>Редактирование связи</legend>
            <fieldset>

                {% include 'frontend/base_form_fields.html' %}
                <div class="form-actions">
                    <button type="submit" class="btn">Редактировать</button>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}