{% extends 'participant_site/frontend/index.html' %}
{% load pagination_tag %}
{% block title %}Уведомление создано / {{ content.title }}{% endblock %}
{% block content_library-crumb %}
    {% url 'participant_events:frontend:show' library.code event.id  as event_url %}
    <nav class="crumb">
        <ol class="crumb__list">
            <li>
                <a href="{% url 'index:frontend:index' %}">
                    {% if LANGUAGE_CODE == 'ru' %}
                        Главная
                    {% elif LANGUAGE_CODE == 'tt' %}
                        Төп бит
                    {% else %}
                        Home
                    {% endif %}
                </a>
            </li>
            {% for ancestor in library.get_ancestors %}
                <li>
                    <a href="{% url 'participant_site:frontend:index' ancestor.code %}">{{ ancestor.name }}</a>
                </li>
            {% endfor %}
            <li>
                <a href="{% url 'participant_site:frontend:index' library.code %}">{{ library.name }}</a>
            </li>
            <li>
                <a href="{% url 'participant_events:frontend:index' library.code %}">Афиша</a>
            </li>
            <li>
                <a href="{{ event_url }}">{{ content.title }}</a>
            </li>
            <li>
                <span class="crumb__current">
                    Уведомление создано
                </span>
            </li>
        </ol>
    </nav>
{% endblock %}
{% block content_library %}
    {% url 'participant_events:frontend:show' library.code event.id  as event_url %}
    <div class="col-lg-8 col-md-12">
        <div class="card-transparent">
            <div class="content">
                <h1 class="content__title">Уведомление создано</h1>
                <br>
                <div class="alert alert-success">
                    Заявка на уведомление о событии создана. Вы получите письмо с уведомлением в указанный Вами срок.
                </div>
                <p>Через несколько секунд Вы будете переправлены на страницу события.
                    <a href="{{ event_url }}">Перейти к событию</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {% url 'participant_events:frontend:show' library.code event.id  as event_url %}
    <script>
        setTimeout(
            function () {
                window.location = "{{ event_url }}"
            },
            10000);
    </script>
{% endblock %}