{% extends 'participant_site/frontend/index.html' %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}Добавить напоминание о {{ content.title }}{% endblock %}
{% block content_library-crumb %}
    <nav class="crumb">
        <ol class="crumb__list">
            <li>
                <a href="{% url 'index:frontend:index' %}">
                    {% if LANGUAGE_CODE == 'ru' %}
                        Главная
                    {% elif LANGUAGE_CODE == 'tt' %}
                        Төп бит
                    {% else %}
                        Home
                    {% endif %}
                </a>
            </li>
            {% for ancestor in event.library.get_ancestors %}
                <li>
                    <a href="{% url 'participant_site:frontend:index' ancestor.code %}">
                        {{ ancestor.name }}
                    </a>
                </li>
            {% endfor %}
            <li>
                <a href="{% url 'participant_site:frontend:index' event.library.code %}">
                    {{ event.library.name }}
                </a>
            </li>
            <li>
                <a href="{% url 'participant_events:frontend:index' event.library.code %}">
                    Афиша
                </a>
            </li>
            <li>
                <a href="{% url 'participant_events:frontend:show' event.library.code event.id %}">
                    {{ content.title }}
                </a>
            </li>
            <li>
                <span class="crumb__current">
                    Добавить напоминание
                </span>
            </li>
        </ol>
    </nav>
{% endblock %}
{% block content_library %}
    <div class="col-lg-8 col-md-12">
        <div class="card-transparent">
            <div class="content">
                <h1 class="content__title">Добавить напоминание</h1>
                <br>
                <form method="post" class="form-all">
                    {% csrf_token %}
                    {% include 'administration/base_form_fields.html' with form=notification_form %}
                    <br>
                    <button type="submit" class="btn">Создать напоминание</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
