{% extends 'participant_site/frontend/index.html' %}
{% load pagination_tag %}
{% block title %}Афиша / {{ library.name }}{% endblock %}
{% block content_library-crumb %}
    <nav class="crumb">
        <ol class="crumb__list">
            <li>
                <a href="{% url 'index:frontend:index' %}">Главная</a>
            </li>
            {% for ancestor in library.get_ancestors %}
                <li>
                    <a href="{% url 'participant_site:frontend:index' ancestor.code %}">{{ ancestor.name }}</a>
                </li>
            {% endfor %}
            <li>
                <a href="{% url 'participant_site:frontend:index' library.code %}">
                    {{ library.name }}
                </a>
            </li>
            <li>
                    <span class="crumb__current">Афиша {% if date %}за
                        {{ date|date:'d E Y' }}{% endif %}</span>
            </li>
        </ol>
    </nav>
{% endblock %}
{% block content_library %}
    <div class="col-lg-8 col-md-12">
        <div class="card-transparent">
            <div class="card-transparent__header">
                <h2 class="card-transparent__title">Афиша</h2>
                <a class="card-transparent__link" href="{% url 'participant_events:frontend:subscribe' library.code %}">Подписаться</a>
            </div>
            <div class="event-list">
                {% for event in events_list %}
                    <article class="event-list__item">
                        <div class="event-list__date-wrap">
                            <time class="event-list__date">
                                <span>{{ event.start_date|date:'j' }}</span>
                                <span>{{ event.start_date|date:'E' }}</span>
                                <span>{{ event.start_date|date:'H:i' }}</span>
                            </time>
                        </div>
                        <div class="event-list__detail">
                            <h3 class="event-list__detail-title">
                                <a class="event-list__detail-link"
                                   href="{% url 'participant_events:frontend:show' event.library.code event.id %}?back={{ request.get_full_path }}">
                                    {{ event.event_content.title }}
                                </a>
                            </h3>
                            <p class="event-list__detail-description">{{ event.event_content.teaser }}</p>
                            <p class="event-list__detail-description">Место
                                проведения: {{ event.library.name }}</p>
                        </div>
                    </article>
                {% endfor %}
            </div>
            {% admin_pagination events_page %}
        </div>
    </div>
{% endblock %}